@import "vendor/bootstrap-custom";
@import "custom/custom-mixins"; 
@import "custom/custom-variables";

// @import "custom/essentials";
// @import "custom/animations";
// @import "custom/home"; 
// @import "custom/product"; 
// @import "custom/learn-more"; 
// @import "custom/forms-workflow-data"; 
// @import "custom/one-minute";
@import "custom/company";
// @import "custom/bpm";
// @import "custom/industry";
// @import "custom/how-to-buy";
// @import "custom/department-details";

 