.company-main-stage__description, .our-story__description, .timeliner .timeliner__date--description, .leadership .leader p,
.leadership .bio-box .wrapper p,
.leadership .bio-box .k2-offices__content p, .corporate-hq__single .address-block, .k2-offices__singles .address-block, .careers__description {
  font-size: 14px;
  line-height: 18px;
}

.our-story__title, .recent-recognition__title, .recent-recognition__single-year, .leadership__title, .world-map__title, .corporate-hq__title, .careers__title, .available-positions__title {
  font-size: 30px;
  font-family: "Bulmer MT W01 Italic" !important;
}
@media (min-width: 770px) {
  .our-story__title, .recent-recognition__title, .recent-recognition__single-year, .leadership__title, .world-map__title, .corporate-hq__title, .careers__title, .available-positions__title {
    font-size: 40px;
  }
}

.k2-offices__title {
  font-family: "Avenir Next LT W01 Bold" !important;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 40px 0px;
}
@media (min-width: 770px) {
  .k2-offices__title {
    font-size: 24px;
  }
}

.company-main-stage__button--primary {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  transition: all 0.2s ease;
}
.company-main-stage__button--primary {
  background-color: #81af41;
}
.company-main-stage__button--primary:hover {
  background-color: #00b5c8;
}
.company-main-stage__button--primary:hover {
  color: white !important;
}

.three-column-layout {
  width: 100%;
}
@media (min-width: 770px) {
  .three-column-layout {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
  }
}
@media (min-width: 770px) {
  .three-column-layout__single {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: auto;
  }
}
@media (min-width: 770px) {
  .three-column-layout:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
  }
}

.recent-recognition {
  padding: 40px 0px;
  border-top: 5px solid white;
  text-align: center;
}
.recent-recognition br {
  display: none;
}
@media (min-width: 770px) {
  .recent-recognition br {
    display: auto;
  }
}

.wrapper-header {
  position: fixed;
}

.push-for-menu-3 {
  padding-top: 30px;
}

.company-main-stage {
  background-image: url("/img/1/bg-company-main-stage.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 390px;
}
@media (min-width: 770px) {
  .company-main-stage {
    background-position: top center;
    min-height: 490px;
  }
}
.company-main-stage__content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .company-main-stage__content {
    float: left;
    width: 50%;
  }
}
@media (min-width: 770px) {
  .company-main-stage__content {
    margin-left: 8.33333%;
  }
}
.company-main-stage__title {
  text-transform: uppercase;
  margin-top: 40px;
  color: #00b5c8;
}
@media (min-width: 770px) {
  .company-main-stage__title {
    margin-top: 60px;
    font-size: 38px;
  }
}
.company-main-stage__description {
  margin-top: 20px;
}
.company-main-stage__button--primary {
  font-size: 16px;
  margin-bottom: 30px;
}

.our-story {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .our-story {
    padding-top: 20px;
  }
}
.our-story__title {
  color: #81af41;
}
.our-story__description {
  width: 100%;
}
@media (min-width: 770px) {
  .our-story__description {
    width: 78%;
    margin: 0 auto;
  }
}
.our-story__timeline {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .our-story__timeline {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 770px) {
  .our-story__timeline {
    margin-left: 8.33333%;
  }
}

.timeliner {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin-bottom: 120px;
}
@media (min-width: 480px) {
  .timeliner {
    margin-top: 135px;
  }
}
@media (min-width: 480px) {
  .timeliner__start {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #00b5c8;
    top: 50%;
    position: absolute;
  }
}
@media (min-width: 480px) {
  .timeliner__end {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #00b5c8;
    top: 50%;
    position: absolute;
    right: 0px;
  }
}
@media (min-width: 480px) {
  .timeliner__horizontal-line {
    content: '';
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background-color: #00b5c8;
    top: calc(50% + 4px);
    position: absolute;
  }
}
@media (min-width: 480px) {
  .timeliner__no-date {
    content: '';
    height: 30px;
    width: 1px;
    background-color: #00b5c8;
    top: calc(50% - 11px);
    position: absolute;
    left: 50%;
  }
  .timeliner__no-date.one {
    margin-left: -47%;
  }
  .timeliner__no-date.two {
    margin-left: -37%;
  }
  .timeliner__no-date.three {
    margin-left: -29%;
  }
  .timeliner__no-date.four {
    margin-left: -12%;
  }
  .timeliner__no-date.five {
    margin-left: 4%;
  }
  .timeliner__no-date.six {
    margin-left: 13%;
  }
  .timeliner__no-date.seven {
    margin-left: 24%;
  }
  .timeliner__no-date.eight {
    margin-left: 36%;
  }
  .timeliner__no-date.nine {
    margin-left: 40%;
  }
}
.timeliner__up {
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 480px) {
  .timeliner__up {
    margin-top: 0px;
    content: '';
    height: 50px;
    width: 1px;
    background-color: #00b5c8;
    position: absolute;
    left: 50%;
    top: 4px;
  }
  .timeliner__up.d2001 {
    margin-left: -40%;
  }
  .timeliner__up.d2006 {
    margin-left: -8%;
  }
  .timeliner__up.d2006 .timeliner__date {
    top: -65px;
  }
  .timeliner__up.d2014 {
    margin-left: 28%;
  }
}
.timeliner__up .timeliner__date {
  width: 100%;
}
@media (min-width: 480px) {
  .timeliner__up .timeliner__date {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    top: -92px;
  }
}
.timeliner__down {
  width: 100%;
  margin-top: 20px;
}
@media (min-width: 480px) {
  .timeliner__down {
    margin-top: 0px;
    content: '';
    height: 50px;
    width: 1px;
    background-color: #00b5c8;
    top: calc(50% + 5px);
    position: absolute;
    left: 50%;
  }
  .timeliner__down.d2004 {
    margin-left: -23%;
  }
  .timeliner__down.d2011 {
    margin-left: -2%;
  }
  .timeliner__down.d2015 {
    margin-left: 40%;
  }
}
@media (min-width: 770px) {
  .timeliner__down.d2015 {
    margin-left: 44%;
  }
}
.timeliner__down .timeliner__date {
  width: 100%;
}
@media (min-width: 480px) {
  .timeliner__down .timeliner__date {
    position: absolute;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    top: 58px;
  }
}
.timeliner .timeliner__date--title {
  font-family: "Bulmer MT W01 Italic" !important;
  color: #81af41;
  font-size: 20px;
}
.timeliner .timeliner__date--description {
  padding-top: 4px;
}
.timeliner .timeliner__date--description br {
  display: none;
}
@media (min-width: 480px) {
  .timeliner .timeliner__date--description {
    font-size: 12px;
    line-height: 1.2em;
  }
  .timeliner .timeliner__date--description br {
    display: inline-block;
  }
}

.recent-recognition {
  overflow: hidden;
  background-color: #00b5c8;
  padding-bottom: 50px;
}
.recent-recognition__title {
  color: white;
}
.recent-recognition__columns {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .recent-recognition__columns {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 770px) {
  .recent-recognition__columns {
    margin-left: 16.66667%;
  }
}
.recent-recognition__single {
  width: 100%;
}
@media (min-width: 480px) {
  .recent-recognition__single {
    width: 50%;
    float: left;
  }
}
.recent-recognition__single-year {
  padding-top: 30px;
  font-size: 30px;
  color: #272d43;
}
.recent-recognition__single-source {
  font-size: 14px;
  margin-top: 30px;
  color: white;
}
.recent-recognition__single-title {
  margin-top: 4px;
  font-size: 14px;
  color: #272d43;
  font-family: "Bulmer MT W01 Italic";
  font-weight: bold;
}

.leadership {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (min-width: 770px) {
  .leadership {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 770px) {
  .leadership {
    margin-left: 8.33333%;
  }
}
@media (min-width: 770px) {
  .leadership {
    padding-top: 20px;
  }
}
.leadership__title {
  color: #81af41;
  text-align: center;
}
.leadership-sub-item__title {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.leadership-sub-item__title:before {
  border-top: 1px solid #00b5c8;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
.leadership-sub-item__title span {
  background: #fff;
  padding: 0 15px;
  color: #00b5c8;
}
.leadership-sub-item__column {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .leadership-sub-item__column {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 770px) {
  .leadership-sub-item__column {
    margin-left: 8.33333%;
  }
}
.leadership-sub-item__single {
  float: left;
  text-align: left;
  width: 100%;
  text-align: center;
}
@media (min-width: 770px) {
  .leadership-sub-item__single {
    width: 33.33333333%;
  }
}
.leadership .leader {
  color: #272d43;
  font-family: "AvenirNextLTW01-Regular", sans-serif;
  line-height: 1.4em;
}
.leadership .bio-box .wrapper, .leadership .bio-box .k2-offices__content {
  color: #5d5d5d;
  font-family: "AvenirNextLTW01-Regular", sans-serif;
}
.leadership .leader h4,
.leadership .leader span,
.leadership .leader p,
.leadership .bio-box .wrapper h4,
.leadership .bio-box .k2-offices__content h4,
.leadership .bio-box .wrapper span,
.leadership .bio-box .k2-offices__content span,
.leadership .bio-box .wrapper p,
.leadership .bio-box .k2-offices__content p {
  color: inherit;
  font-family: inherit;
  font-style: normal;
}
.leadership .leader h4 {
  font-size: 15px;
  margin: 0px;
}
.leadership .bio-box .wrapper h4, .leadership .bio-box .k2-offices__content h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}
.leadership .leader span {
  font-size: 15px;
  font-weight: bold;
  color: #00b5c8;
  font-family: "Bulmer MT W01 Italic";
}
.leadership .bio-box .wrapper span, .leadership .bio-box .k2-offices__content span {
  font-size: 18px;
  font-weight: bold;
  font-family: "Bulmer MT W01 Italic";
}
.leadership .leader p,
.leadership .bio-box .wrapper p,
.leadership .bio-box .k2-offices__content p {
  margin: 15px 0;
}
.leadership .bio-box {
  position: fixed;
  background-color: #f2f3f2;
  z-index: 49;
  color: #5d5d5d;
  padding: 13px 12px;
  top: 17% !important;
  visibility: hidden;
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0 linear 0;
  width: 80%;
  margin-left: -40%;
  left: 40%;
  margin-top: -9%;
  border: 20px solid white;
  border-radius: 3px;
}
@media (min-width: 770px) {
  .leadership .bio-box {
    position: fixed;
    background-color: #f2f3f2;
    z-index: 49;
    color: #5d5d5d;
    padding: 13px 12px;
    top: 50% !important;
    visibility: hidden;
    -khtml-opacity: 0;
    -moz-opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
    filter: alpha(opacity=0);
    opacity: 0;
    transition: opacity 0 linear 0;
    width: 80%;
    margin-left: -40%;
    left: 50%;
    margin-top: -9%;
  }
}
.leadership .show + .lighten-entire-screen-box {
  position: fixed;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.leadership .bio-box .wrapper, .leadership .bio-box .k2-offices__content {
  margin-top: 10px;
  line-height: 28px;
}
.leadership .bio-box .magnifying-glass {
  display: none;
}
.leadership .bio-box .close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.leadership .sprite.close {
  content: 'x';
  background-image: none !important;
  font-size: 30px;
  color: #5d5d5d !important;
}
.leadership .bio-box.show {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms linear 0ms;
}
.leadership .bio-box .mobile-link {
  display: none;
}
.leadership .bio-box a {
  color: #00b5c8 !important;
}
.leadership .gradient-overlay {
  position: absolute;
  top: 50%;
  left: 0px;
  display: block;
  width: 100%;
  padding-top: 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.leadership .leader {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
}
.leadership .leader .mobile-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  cursor: pointer;
}
.leadership .leader .magnifying-glass {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
}
.leadership .leader aside {
  display: none;
}

.tab-content__content {
  min-height: 400px;
}

.world-map {
  text-align: center;
}
.world-map__title {
  color: #81af41;
}
.world-map__actual-map {
  margin: 40px 0px 0px;
}

.corporate-hq {
  padding: 40px 0px;
  background-color: #00b5c8;
}
.corporate-hq__title {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}
.corporate-hq__columns {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.corporate-hq__single {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .corporate-hq__single {
    float: left;
    width: 25%;
  }
}
.corporate-hq__single .address-heading {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.corporate-hq__single .address-block {
  color: white;
  padding-top: 10px;
}
.corporate-hq__single .phone {
  text-transform: uppercase;
  font-family: "Avenir Next LT W01 Bold";
}
.corporate-hq__single .fax {
  text-transform: uppercase;
  font-family: "Avenir Next LT W01 Bold";
}

.k2-offices {
  background: #f2f2f2;
  padding-bottom: 50px;
  overflow: hidden;
}
.k2-offices__title {
  text-align: center;
  color: #00b5c8;
}
.k2-offices__title span {
  color: #81af41;
}
.k2-offices__singles {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .k2-offices__singles {
    float: left;
    width: 25%;
  }
}
.k2-offices__singles .address-heading {
  font-size: 16px;
  font-weight: bold;
  color: #00b5c8;
}
.k2-offices__singles .address-heading.dist {
  color: #81af41;
}
.k2-offices__singles .address-block {
  color: #5d5d5d;
  padding-bottom: 30px;
}

.careers {
  text-align: center;
}
.careers__title {
  margin-top: 30px;
  color: #81af41;
  margin-bottom: 30px;
}
.careers__content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .careers__content {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 770px) {
  .careers__content {
    margin-left: 16.66667%;
  }
}

.careers__listing {
  background-color: #f2f3f2;
  padding: 30px 0px;
}
.careers__listing-content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .careers__listing-content {
    float: left;
    width: 83.33333%;
  }
}
@media (min-width: 770px) {
  .careers__listing-content {
    margin-left: 8.33333%;
  }
}

.available-positions {
  background-color: #81af41;
  text-align: center;
}
.available-positions__content {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 0%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 770px) {
  .available-positions__content {
    float: left;
    width: 66.66667%;
  }
}
@media (min-width: 770px) {
  .available-positions__content {
    margin-left: 16.66667%;
  }
}
.available-positions__title {
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}

.department-overview {
  background-size: 1680px 1982.5px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 1982.5px;
  width: 100%;
  background-image: url("/img/1/d-detail-page.jpg");
}

.how-to-buy-main-stage {
  background-size: 1680px 1631px;
  background-repeat: no-repeat;
  background-position: top center;
  height: 1631px;
  width: 100%;
  background-image: url("/img/1/how-to-buy-page.jpg");
}
