    <footer class="noindex">
    <div class="legal noindex" style="margin-top:0px !important;background:#eaeaea !important;">
        <div class="row collapse noindex">
            <nav>
                <ul class="right" style="line-height:62px !important;style:inline-table !important;">
                    <li>
                        <span class="hide-for-small AvenirRegular" style="font-size:14px;color:#383838;position:relative;top:-9px;">CONNECT WITH US:</span>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/K2onK2" target="_blank" class="sprite twitter"></a>
                    </li>
                    <li>
                        <a href="http://www.facebook.com/K2workflow?fref=ts" target="_blank" class="sprite facebook"></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/103131923406127720530/posts" target="_blank" class="sprite googleplus"></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/company/469843?trk=tyah" target="_blank" class="sprite linkedin"></a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/channel/UCe_842WPzxlDKgxquIa-eKg" target="_blank" class="sprite k2tv"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row noindex">
        <div class="column one hide-for-small noindex" style="margin-top:10px;margin-bottom:10px;">
            <img src="http://www.k2.com/img/k2comv5/logo-small.png" alt="Footer K2 Logo" class="small-logo left" style="position:relative;top:0px !important;">
        </div>
    </div>
    <div class="row noindex">
        <nav class="column eleven sitemap offset-by-one" style="z-index:4 !important;">
            <ul class="row">
                <li class="column three first ">
                    <span class="footer-headings">About</span>
                    <ul>
                        <li><a href="/company-overview">Company</a></li>
                        <li><a href="/press-releases">News &amp; Press</a></li>
                        <li><a href="/careers">Careers</a></li>
                        <li><a href="http://associate.k2.com" target="_blank">K2 Associate Program</a></li>
                        <li><a data-sl-variant="legal-varient-1" href="/legal-information">Legal</a></li>
                        <li><a href="/cookie-policy">Cookie Policy</a></li>
                    </ul>
                     <span class="footer-headings">Contact</span>
                    <ul>
                        <li class="_InlineForm" targetclass="K2V5DefaultPopup" addroundcorners="false" target="/forms/form_contactus.xml"><a href="/contact-us">Contact Us</a></li>
                        <li><a href="/global-contacts">Global Contacts</a></li>
                        <li><a href="/support-offerings/schedule">Support Contacts</a></li>
                    </ul>
                </li>
                <li class="column three">
                    <span class="footer-headings">Videos</span>
                    <ul>
                        <li><a href="/resources/webinars">Webinars</a></li>
                        <li><a href="/resources/case-studies">Case Studies</a></li>
                        <li><a href="/resources/product-demos">Demos</a></li>
                    </ul>
                    <span class="footer-headings">Downloads</span>
                    <ul>
                        <li><a href="/resources/downloads">White Papers &amp; PDF's</a></li>
                    </ul>
                </li>
                <li class="column three">
                    <span class="footer-headings">Our Community</span>
                    <ul>
                        <li> <a href="http://community.k2.com/" target="_blank">Forums and Community</a></li>
                        <li> <a href="/partners/program">Partner Program</a></li>
                        <li> <a href="/partners/partnerlist">Find a Partner</a> </li>
                        <li><a href="/technology-partners">Technology Partners</a></li>
                        <li><a href="/k2-insiders">K2 Insiders</a></li>
                    </ul>
                </li>
                <li class="column three">
                    <span class="footer-headings">Other Sites</span>
                    <ul>
                        <li><a href="http://www.appit.com" target="_blank">K2 Appit</a></li>
                         <li><a href="http://help.k2.com/" target="_blank">Knowledge Center</a></li>
                        <li><a href="http://portal.k2.com/" target="_blank">Partner &amp; Customer Portal</a></li>
                        <li><a href="http://coe.k2.com/" target="_blank">Center of Excellence</a></li>
                        <li><a href="http://healthcare.k2.com/us" target="_blank">K2 for Healthcare</a></li>
                        <li><a href="http://legal.k2.com/" target="_blank">K2 for Legal</a></li>
                        <li><a href="http://sap.k2.com/" target="_blank">K2 and SAP</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="legal noindex">
        <div class="row collapse noindex">
            <nav>
                <ul class="right">
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                    <li><a href="/terms-of-use">Terms of Use</a></li>
                    <li class="french-link"><a href="http://www.k2france.com" target="_blank">K2 France</a></li>
                    <li class="german-link"><a href="http://de.k2.com">K2 Germany</a></li>
                    <li><a href="/copyright" data-reveal-id="Copyright-Modal">Copyright</a></li>
                    <li>
                        <a href="/sourcecode-overview" border="0" style="position:relative;top:6px">
                            <img src="http://www.k2.com/img/sc_reg_logo.png" alt="SourceCode">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="Copyright-Modal" class="reveal-modal placeholder-modal full noindex">
        <div class="modal-content noindex">
            <div class="modal-form-wrapper noindex">
                <div class="row">
                    <div class="offset-by-one nine columns noindex">
                        <div class="cr-title">Copyright</div>
                    </div>
                    <div class="one columns close-btn noindex">
                        <a href="#" class="close-reveal-modal StopLink noindex">
                            <span class="sprite large-close"></span>
                        </a>
                    </div>
                </div>
                <div class="row noindex">
                    <div class="ten columns offset-by-one form-col noindex">
                        <div class="row-hr noindex">
                            <div class="hr noindex"></div>
                        </div>
                        <span class="_CurrentYear">2015</span> SOURCECODE TECHNOLOGY HOLDINGS, INC. ALL RIGHTS RESERVED. SOURCECODE SOFTWARE PRODUCTS ARE PROTECTED BY ONE OR MORE U.S. PATENTS. OTHER PATENTS PENDING. SOURCECODE, K2, THE FOUR SQUARES LOGO, K2 BLACKPEARL, K2 CONNECT AND K2 SMARTFORMS ARE REGISTERED TRADEMARKS OR TRADEMARKS OF SOURCECODE TECHNOLOGY HOLDINGS, INC. IN THE UNITED STATES AND/OR OTHER COUNTRIES. All other trademarks or product names are property of their respective owners.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>