<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">{{learn-more.products_description}}</p>
            <a href="/products.html" class="products-slice__primary-cta">View K2 Products</a>
        </div>
    </div>
</section>
<section class="featured-asset">
    <div class="wrapper">
        <div class="featured-asset__content">
        <div class="featured-asset__image">
            <img src="/img/1/learn-more-forrester-logo-@2x.png" width="131" alt="">
        </div>
            <h4 class="featured-asset__title">
                Low-Code Platforms Deliver Customer-Facing Apps Fast, <br />But Will They Scale Up?
            </h4>
            <div class="featured-asset__description">
                {{learn-more.forresster-paper__description}}
            </div>
            <a class="featured-asset__button--primary">download report</a>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">{{learn-more.one-minute__title}}</h4>
            <p class="one-miniute-video-slice__description">{{learn-more.one-minute__description}}</p>
            <a href="/one-minute-demo.html" class="one-miniute-video-slice__primary-cta">See it live </a>
        </div>
    </div>
</section>