<div class="wrapper-header">
        <header class="header">
            <a href="/index.html" class="header__logo">
                <img src="/img/1/k2-logo.png" alt="">
            </a>
            <!-- The start of the Best Nav Ever (BNE). NO BEM here.  -->
            <nav class="header__best-nav-ever bne" role="navigation">
                <div id="menu-close"><img src="http://www.k2.com/img/btn-close.png" width="32" alt=""></div>
                <ul class="top-utility">
                    <li>
                        <a class="top-utility__button--contact">Contact</a>
                    </li>
                    <li>
                        <a class="mobile-login" href="#">Login</a>
                    </li>
                </ul>
                <ul>
                    <li role="menuitem">
                        <a>WHAT IS K2?</a>
                        <ul class="sub-menu--what-is-k2">
                            <li>
                            <a>Intro to Business Applications</a>
                                <ul class="sub-sub-menu">
                                  <li><a href="/learn-more.html">Overview</a></li>
                                  
                                    <li><a href="/forms.html">Forms</a></li>
                                    <li><a href="/workflow.html">Workflow</a></li>
                                    <li><a href="/data.html">Data & Systems</a></li>
                                    <li><a href="/app-experience.html">Using an App</a></li>
                                </ul>
                            </li>
                            <li><a href="/products.html">Products</a></li>
                            <li><a href="/one-minute-demo.html">One-Minute Demos</a></li>
                            <li><a href="/company.html">About the Company</a></li>
                        </ul>
                    </li>
                    <li role="menuitem">
                        <a>HOW PEOPLE USE K2</a>
                        <ul class="sub-menu--how-people-use-k2">
                            <li><a href="/customers.html">Customer Stories</a></li>
                            <li>
                                <a>Industries</a>
                                <ul class="sub-sub-menu">
                                    <li><a href="/industry-detail.html">Financial Services</a></li>
                                    <li><a href="/industry-detail.html">Legal</a></li>
                                    <li><a href="/industry-detail.html">Manufacturing</a></li>
                                    <li><a href="/industry-detail.html">Healthcare</a></li>
                                    <li><a href="/industry-detail.html">Public Sector</a></li>
                                    <li><a href="/industry-detail.html">Oil & Gas</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>Departments</a>
                                <ul class="sub-sub-menu">
                                    <li><a href="/department-detail.html">Finance</a></li>
                                    <li><a href="/department-detail.html">Human Resources</a></li>
                                    <li><a href="/department-detail.html">Operations</a></li>
                                    <li><a href="/department-detail.html">Purchasing</a></li>
                                    <li><a href="/department-detail.html">Sales & Marketing</a></li>
                                </ul>
                            </li>
                            
                            <li><a href="#">Business Process Management</a></li>
                            <li><a href="#">SharePoint Workflow</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="last">RESOURCES</a>
                        <ul class="sub-menu--resources">
                            <li>
                                <a href="http://k2.com/events">Events</a>
                            </li>
                            <li><a href="#">Downloads</a></li>
                            <li><a>Support</a>
                              <ul class="sub-sub-menu">
                                    <li><a href="#">Consulting and Training</a></li>
                                    <li><a href="#">Consulting Options</a></li>
                                    <li><a href="#">Training Options</a></li>
                                    <li><a href="#">Support Overview</a></li>
                                    <li><a href="#">Appit</a></li>
                                    <li><a href="#">K2 blackpearl</a></li>
                                    <li><a href="#">Access Support</a></li>
                                </ul>
                            </li>
                            <li><a>Partners</a>
                              <ul class="sub-sub-menu">
                                    <li><a href="#">Become a Partner</a></li>
                                    <li><a href="#">Partner List</a></li>
                                    <li><a href="#">Technology Partner</a></li>
                                    <li><a href="#">Partner Login</a></li>
                                </ul>
                            </li>
                            <li><a href="/">Blog</a></li>
                            <li><a>Community</a>
                                <ul class="sub-sub-menu">
                                  <li><a href="">Forums</a></li>
                                  <li><a href="">Market (Free code/plugins)</a></li>
                                  <li><a href="#">Community Articles</a></li>
                                </ul>
                            </li>
                            <li><a>Application Accelerators</a>
                                
                                <ul class="sub-sub-menu">
                                  <li><a href="#">Leave Request</a></li>
                                  <li><a href="#">New Idea Submission</a></li>
                                  <li><a href="#">Expense Claim</a></li>
                                  <li><a href="#">Task Management</a></li>
                                  <li><a href="#">Travel Request</a></li>
                                  <li><a href="#">Incident Management</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                    </ul> 
            </nav>
            <a class="header__cta-contact">Contact</a>
            <a href="/schedule-demo.html" class="header__cta-see-it-live">Request Demo</a>
            <div class="header__login"></div>
            <div class="header__search"></div>
            <div class="menu-icon" id="menu-icon"><img src="http://www.k2.com/img/1/mobile-menu-1.png" width="32" alt=""></div>
        </header>
    </div>