---
layout: "default.hbs"
title: "home" 
---

<!--HEADER-->
<section class="application-accelerator push-for-menu">
    <div class="wrapper">
        <div class="application-accelerator__content">
            <h1 class="application-accelerator__title">Application Accelerators Will Change Your Life</h1>

            <p class="application-accelerator__description">Take the first step toward success and choose one of the following options to get started.</p>

        </div>
    </div>
</section>

<!-- DOWNLOADS SECTION -->
<div class="wrapper">
	<section class="downloads">
		<h2 class="downloads__downloadtitle">Downloads</h2>

		<p class="downloads__description">Below are links to preconfigured apps built with K2.</p>
	</section>
</div>