--- layout: "default.hbs" title: "Company" ---
<section class="company-main-stage push-for-menu">
    <div class="wrapper">
        <div class="company-main-stage__content">
            <h1 class="company-main-stage__title">
               We power the people who build great companies
            </h1>
            <p class="company-main-stage__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/company.html">The K2 Story</a></li>
                <li class="mobile-tab-content">
                </li>
                <li><a class="ajax" href="/company-leadership.html">Leadership</a></li>
                <li><a class="ajax" href="/company-global-contacts.html">Global Contacts</a></li>
                <li class="active"><a class="ajax" href="/careers">Careers</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="careers">
               <div class="careers__content">
                   <div class="careers__title">Join our team</div>
                    <p class="careers__description">At K2 we have a simple philosophy: We hire talented people and empower them to push the boundaries of what's possible. We work hard and play harder. Our atmosphere is open, innovative and fun with a relatively flat organizational structure to encourage creativity and optimal collaborative results.</p>

                    <p class="careers__description">The K2 team is dynamic and truly global in composition and perspective. Joining this fast-growing business means tremendous career and technology opportunities coupled with the satisfaction of creating great solutions that help transform our customers' businesses.</p>
               </div>
            </div>
            
        </div>

    </div>
      <div class="available-positions">
            <div class="wrapper">
                <div class="available-positions__content">
                    <div class="available-positions__title">Available positions</div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="careers__listing">
            <div class="wrapper">
                <div class="careers__listing-content">
                    Here will be the list of careers
                </div>
                
            </div>
        </div>
</section>
<div class="tabs-scripts"></div>
<div class="topajax"></div>
<style>.tab-content__content {
    min-height: 321px;
}</style>
