--- layout: "default.hbs" title: "Company" ---
<section class="company-main-stage push-for-menu">
    <div class="wrapper">
        <div class="company-main-stage__content">
            <h1 class="company-main-stage__title">
               We power the people who build great companies
            </h1>
            <p class="company-main-stage__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/company.html">The K2 Story</a></li>
                <li class="mobile-tab-content">
                </li>
                <li><a class="ajax" href="/company-leadership.html">Leadership</a></li>
                <li class="active"><a class="ajax" href="/company-global-contacts.html">Global Contacts</a></li>
                <li><a class="ajax" href="#">Careers</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="global-contacts">
                <div class="world-map">
                    <h2 class="world-map__title">
                        K2 offices across the world
                    </h2>
                    <div class="world-map__actual-map">
                        <img src="/img/1/worldmap.jpg" width="570">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="corporate-hq">
        <div class="wrapper">
            <div class="corporate-hq__content">
                <h3 class="corporate-hq__title">
                    Corporate headquarters
                </h3>
                <div class="corporate-hq__columns">
                    <div class="corporate-hq__single">
                        <div class="address-heading">Corporate Headquarters</div>
                        <div class="address-block"><span>5150 Village Park Drive SE,<br />Suite 200</span>
                            <br /><span>Bellevue, WA 98006</span></div>
                        <div class="address-block"><span class="phone">P</span> +1 (425) 883 4200
                            <br /> <span class="fax">f</span> +1 (425) 671 0411
                            <br />
                            <br /> Americas Sales & Support
                            <br /> <span class="phone">P</span> +1 (877) 822 5552</div>
                    </div>
                    <div class="corporate-hq__single">
                        <div class="address-heading">UK and Europe</div>
                        <div class="address-block">26 Worple Road
                            <br /> Wimbledon London
                            <br /> SW19 4EE
                            <br /> UK</div>
                        <div class="address-block"><span class="phone">P</span> +44 (0) 208 971 3450
                            <br /> <span class="fax">f</span> +44 (0) 208 946 8844
                            <br /> -or-
                            <br /> <span class="phone">P</span> +44 (0) 845 612 0912
                            <br /> <span class="fax">f</span> +44 (0) 845 612 0911</div>
                    </div>
                    <div class="corporate-hq__single">
                        <div class="address-heading">APAC</div>
                        <div class="address-block">18 Cross Street <span>#09-03A</span>
                            <br />China Square Central
                            <br /> Singapore 048423</div>
                        <div class="address-block"><span class="phone">P</span> +65 6536 3171
                            <br /> <span class="fax">f</span> +65 6536 0141</div>
                    </div>
                    <div class="corporate-hq__single">
                        <div class="address-heading">MEA
                            <br />(Middle East and Africa)</div>
                        <div class="address-block">1st Floor
                            <br /> Fountainview House
                            <br /> Constantia Park
                            <br /> Cnr Hendrik Potgieter
                            <br /> Rd & 14th Ave
                            <br /> Weltevreden Park 1709
                            <br /> South Africa</div>
                        <div class="address-block"><span class="phone">P</span> +2711 675 1175
                            <br /><span class="fax">f</span> +2711 675 1664</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="k2-offices">
        <div class="k2-offices__content">
            <div class="k2-offices__title">K2 offices & <span> K2 distributors</span>
            </div>
            <div class="k2-offices__columns">
                <div class="k2-offices__singles">
                    <span>
                        <div class="address-heading">Americas</div>
                        <div class="address-block">
                            Phone +1 (877) 822 5552
                        </div>
                    </span>
                    <span>
                        <div class="address-heading dist">Australia and New Zealand</div>
                        <div class="address-block">Mezzanine Level, 201 Miller Street
                            <br /> North Sydney, NSW 2060
                            <br /> Australia
                            <br /> [P] +61 2 9936 2222
                            <br /> [F] +61 2 9475 4266
                        </div>
                    </span>
                    <span>
                        <div class="address-heading dist">Beijing</div>
                        <div class="address-block">Majestic Towers, Bldg.1, Suite 7H
                            <br /> No. 20, Gongti Dong Road
                            <br /> BeiJing 100020,China
                            <br /> [P] +86 10 65000382
                            <br /> [P] +86 10 65000767
                        </div>
                    </span>
                    <span>

                        <div class="address-heading dist">Czech Republic</div>
                        <div class="address-block">Žarošická 4395/13
                            <br />628 00 Brno,
                            <br />Czech Republic
                            <br />[P] +420 841 777 777
                            <br />[F] +420 533 315 450
                        </div>
                     </span>
                    <span>
                        <div class="address-heading">Denver</div>
                        <div class="address-block">1422 Delgany Street
                            <br />Suite 220
                            <br />Denver, CO 80202
                            <br />[P] +720 403 9001  
                            
                        </div>
                         </span>
                    <span>
                </div>
                <div class="k2-offices__singles">
                    
                    <div class="address-heading dist">Dubai </div>
                    <div class="address-block">Office 1208
                        <br /> Studio City Tower
                        <br /> Dubai Studio City
                        <br /> Dubai, United Arab Emirates
                        <br /> [P] +971 4 360 0874
                        <br /> [F] +971 4 368 8122</div>
                         </span>
                    <span>

                    <div class="address-heading dist">France</div>
                    <div class="address-block">17 rue Neuve Tolbiac
                        <br /> 75013 PARIS
                        <br /> [P] +33 1 75 77 32 00
                    </div>
                     </span>
                    <span>
                        <div class="address-heading dist">Chengdu</div>
                        <div class="address-block">710 Room B Building
                            <br />Fortune Centre No.6 Daye Road,
                            <br />Chengdu City,
                            <br />Sichuan Province CHINA, 610016
                            <br />[P] +86 28 86700447
                        </div>
                    </span>
                    <span>
                        <div class="address-heading dist">Germany</div>
                            <div class="address-block">Regus Center München F<span>ünf H<span>öfe</span></span>
                    <br />Theatinerstrasse 11
                    <br />80333 München
                    <br />Germany
                    <br />[P] +49 89 710 422 178
                </div>
                </span>
                <span>
                        <div class="address-heading dist">Hong Kong</div>
                        <div class="address-block">2201 Tower 2
                            <br />Times Square, Causeway Bay
                            <br /> Hong Kong
                            <br /> [P] +852 3753 8833
                            <br /> [Mobile] +852 9884 8884
                        </div> 
                    </span>
            </div>
            <div class="k2-offices__singles">
                <span>
                    <div class="address-heading">Indonesia</div>
                    <div class="address-block">16th Flr - T9
                        <br />APL Tower, Podomoro City
                        <br />Jl. Let Jend. S. Parman Kav. 28
                        <br />Jakarta 11470
                        <br />[P] +62 21 2933 7544
                    </div>
                </span>
                <div class="address-heading dist">Israel</div>
                <div class="address-block">Dr Shimkin Nahum 18
                    <br /> Haifa Israel, 34750
                    <br /> [P] +972-774001768
                    <br /> [F] +972-773260833</div>
                <div class="address-heading dist">Shanghai</div>
                <div class="address-block">B607, 858 East Long Hua Road,
                    <br /> Shanghai New Huangpu District,
                    <br /> P.R. China 200023.
                    <br /> [P] +86 21 33632013/53188975
                    <br /> [F] +86 21 53188965</div>
                <div class="address-heading dist">Shenzhen</div>
                <div class="address-block">Room 304 Excellence Mansion,
                    <br /> 98 FuHua First Rode,
                    <br /> FuTian District, ShenZhen, P.R. China
                    <br /> 518040.
                    <br /> [P] +86 755 82930877
                    <br /> [F] +86 755 82930887</div>
                <div class="address-heading">Singapore</div>
                <div class="address-block">18 Cross Street #09-03A
                    <br /> China Square Central
                    <br /> Singapore 048423
                    <br /> [P] +65 6536 3171
                    <br /> [F] +65 6536 0141</div>
            </div>
            <div class="k2-offices__singles">
                <div class="address-heading">South Africa</div>
                <div class="address-block">1st Floor
                    <br /> Fountainview House
                    <br /> Constantia Park
                    <br /> Cnr Hendrik Potgieter Rd. & 14th Ave.
                    <br /> Weltevreden Park
                    <br /> 1709
                    <br /> South Africa
                    <br /> [P] +2711 675 1175
                    <br /> [F] +2711 675 1664</div>
                <div class="address-heading dist">Switzerland</div>
                <div class="address-block">Rathausstrasse 14
                    <br /> CH-6340 Baar
                    <br /> Switzerland
                    <br /> [P] +41 799 433 029
                    <br /> [F] +41 41 560 8513</div>
                <div class="address-heading dist">Taiwan</div>
                <div class="address-block">Room 313, 13F., No.220, Sec. 4,
                    <br /> Jhongsiao E. Rd., Da-an District,
                    <br /> Taipei City 106, Taiwan (R.O.C.)
                    <br /> [P] +886 2 27314763
                    <br /> [F] +886 2 27217936</div>
                <div class="address-heading">Thailand</div>
                <div class="address-block">496-502 Amarin Plaza Bldg.
                    <br /> 18th Floor Ploenchit Road
                    <br /> Lumpini, Pathumwan
                    <br /> Bangkok 10330
                    <br /> [P] +66 2 305 6800</div>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts"></div>
<div class="topajax"></div>
