---
layout: "default.hbs"
title: "Company"
---

   <section class="company-main-stage push-for-menu">
    <div class="wrapper">
        <div class="company-main-stage__content">
            <h1 class="company-main-stage__title">
                K2 helps your people work smarter <br> and get business done faster.
            </h1>
            <p class="company-main-stage__description">
                Create, modify and reuse business apps with little-to-no code — on premises or in the cloud. <br>
                 Leverage current systems and technologies, and interact with your apps from any device.
                {{ learn-more.main-stage-learn-more__description}}
                 </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                 <li class="active"><a class="ajax" href="/learn-more.html">Overview</a></li>
                 <li class="mobile-tab-content">


                 </li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>