--- layout: "default.hbs" title: "Company" ---
<section class="company-main-stage push-for-menu">
    <div class="wrapper">
        <div class="company-main-stage__content">
            <h1 class="company-main-stage__title">
               We power the people who build great companies
            </h1>
            <p class="company-main-stage__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
            <a href="/schedule-demo.html" class="main-stage-learn-more__button--primary">{{ learn-more.main-stage-learn-more__button--primary}}</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li class="active"><a class="ajax" href="/company.html">Our Story</a></li>
                <li class="mobile-tab-content">
                </li>
                <li><a class="ajax" href="/company-leadership.html">Leadership</a></li>
                <li><a class="ajax" href="/company-global-contacts.html">Global Contacts</a></li>
                <li><a class="ajax" href="/data.html">Careers</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="our-story">
                <h2 class="our-story__title">Our Story</h2>
                <p class="our-story__description">It all started in 1998, in Johannesburg, South Africa. Two young software developers fresh out of college had a vision to make process automation easy. Since then, K2 has grown into an award-winning business applications software company with five offices and over 500 employees across the globe. More than 1.5 million users in over 84 countries, including 30 percent of the Fortune 100, are using K2 to save money, reduce risk and grow revenue. K2 has strong financial backing, with more than $100 million in recent investments.</p>
                <div class="our-story__timeline">
                    <div class="timeliner">
                        <div class="timeliner__start"></div>
                        <div class="timeliner__end"></div>
                        <div class="timeliner__horizontal-line"></div>
                        <div class="timeliner__no-date one"></div>
                        <div class="timeliner__no-date two"></div>
                        <div class="timeliner__no-date three"></div>
                        <div class="timeliner__no-date four"></div>
                        <div class="timeliner__no-date five"></div>
                        <div class="timeliner__no-date six"></div>
                        <div class="timeliner__no-date seven"></div>
                        <div class="timeliner__no-date eight"></div>
                        <div class="timeliner__no-date nine"></div>
                        <div class="timeliner__up d2001">
                            <div class="timeliner__date">
                                <div class="timeliner__date--title">2001</div>
                                <div class="timeliner__date--description">
                                    First office in
                                    <br>Johannesburg, first public
                                    <br>software release, 15
                                    <br>employees
                                </div>
                            </div>
                        </div>
                        <div class="timeliner__down d2004">
                            <div class="timeliner__date">
                                <div class="timeliner__date--title">2004</div>
                                <div class="timeliner__date--description">
                                    HQ established
                                    <br>in Redmond,
                                    <br>Washington
                                </div>
                            </div>
                        </div>
                        <div class="timeliner__up d2006">
                            <div class="timeliner__date">
                                <div class="timeliner__date--title">2006</div>
                                <div class="timeliner__date--description">
                                    Microsoft Partner
                                    <br>of the Year
                                </div>
                            </div>
                        </div>
                        <div class="timeliner__down d2011">
                            <div class="timeliner__date">
                                <div class="timeliner__date--title">2011</div>
                                <div class="timeliner__date--description">
                                    First US Patents
                                    <br>for K2 SmartForms
                                    <br>and SmartObjects
                                </div>
                            </div>
                        </div>
                        <div class="timeliner__up d2014">
                            <div class="timeliner__date">
                                <div class="timeliner__date--title">2014</div>
                                <div class="timeliner__date--description">
                                    Appit for SharePoint
                                    <br>released, first K2 User
                                    <br>Conference, and launch of
                                    <br>K2 Community
                                </div>
                            </div>
                        </div>
                        <div class="timeliner__down d2015">
                            <div class="timeliner__date">
                                <div class="timeliner__date--title">2015</div>
                                <div class="timeliner__date--description">
                                    K2 raises over
                                    <br>$100M with
                                    <br>Francisco Partners
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="recent-recognition fade-in">
        <div class="recent-recognition__title">Recent Recognition</div>
        <div class="recent-recognition__columns">
            <div class="recent-recognition__single">
                <div class="recent-recognition__single-year">
                    2014
                </div>
                <div class="recent-recognition__single-source">
                    Named to Puget Sound Business Journal’s
                </div>
                <div class="recent-recognition__single-title">
                    "Top Cloud Computing Companies"
                </div>
                <div class="recent-recognition__single-source">
                    Named to Puget Sound Business Journal’s
                </div>
                <div class="recent-recognition__single-title">
                    "Top Cloud Computing Companies"
                </div>
            </div>
            <div class="recent-recognition__single">
                <div class="recent-recognition__single-year">
                    2015
                </div>
                <div class="recent-recognition__single-source">
                    Named to Puget Sound Business Journal’s
                </div>
                <div class="recent-recognition__single-title">
                    "Top Cloud Computing Companies"
                </div>
                <div class="recent-recognition__single-source">
                    Named to Puget Sound Business Journal’s
                </div>
                <div class="recent-recognition__single-title">
                    "Top Cloud Computing Companies"
                </div>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts"></div>
