--- layout: "default.hbs" title: "department details" ---
<section class="main-stage-department-detail" style="background-image:url('/img/1/bg-hr.jpg');">
    <div class="wrapper">
        <div class="main-stage-department-detail__content">
            <h1 class="main-stage-department-detail__title">
             
               Build and run <br> <span>business applications </span><br> with K2's HR software
            </h1>
            <p class="main-stage-department-detail__description">
                Improve efficiency and increase employee satisfaction with an HR automation solution that can streamline your full range of processes, from employee onboarding to vacation requests to benefits administration.
            </p>
        </div>
    </div>
</section>
<section class="solutions-slice">
    <div class="wrapper">
        <div class="solutions-slice__content">
            <h2 class="solutions-slice__title">Solutions</h2>
            <p class="solutions-slice__description">
                HR is made up of a diverse range of processes that can be time consuming and redundant, with multiple levels of approvals and touchpoints. K2 applications increase process visibility, eliminate redundancy and reduce manual errors - so you have the time you need to focus on more important things. K2’s drag-and-drop design tools make it possible for business and technical users to rapidly deliver scalable applications with low to no code that streamline simple to complex human resources processes.
            </p>
            <div class="solutions-slice__columns">
                <div class="solutions-slice__single">
                    <h3>Performance reviews</h3>
                    <p>HR is made up of a diverse range of processes that can be time consuming and redundant, with multiple levels of approvals and touch points. HR management software can simplify tasks and give you back time to focus on new business, not managing processes.</p>
                    <h3>Leave requests</h3>
                    <p>Make it possible for your employees to submit and track leave requests online, and give HR personnel the data they need to manage theses requests. Centralizing this HR workflow data can also help in identifying trends and providing forecasts.</p>
                </div>
                <div class="solutions-slice__single">
                    <h3>Payroll</h3>
                    <p>Eliminate payroll errors and make sure your employees are paid on time with HR software and solutions that retrieve clock-in and clock-out times and integrate the data into workflows to streamline the process from start to finish.</p>

                    <h3>Employee Onboarding and Offboarding</h3>
                    <p>Simplify your employee onboarding and offboarding procedures with workflows that automatically activate and deactivate user accounts and devices.</p>
                   
                </div>
            </div>
            <a href="/schedule-demo" class="solutions-slice__button--primary">Request Demo</a>
        </div>
    </div>
</section>
<section class="spider">
    <div class="wrapper">
        <div class="spider__content">
            <h3 class="spider__title">Transforming HR, your way</h3>
            <div class="spider__description">Use K2's HR management software to rapidly build, modify and reuse business apps that leverage your current systems and technologies with little to no code — on premises or in the cloud -- from any device. Using forms, workflow and data, K2 provides a platform you can use to automate any HR process you might need, through reliable HR workflow apps that deliver the right information, to the right people, at the right time.</div>
            <div class="actual-spider">
            
                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                    <span style="margin-top: 38px;">
                        Benefits administration software
                    </span>
                    <div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:9px">
                             Reduce data entry and store all your information in one place, for a simplified approach that fits your company’s needs.
                        </span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Employee self-service</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description" style="padding-top:14px">
                        <span>Provide employees with access to personal records, payroll and benefits information. Plus, automatically route requests to the correct person or department.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                      <span>Expense claim management</span>
                      <div class="actual-spider__item--title--palo"></div>
                    </div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:10px">Track, collaborate and evaluate trends on claims – and get them paid faster -- with our HR software.</span>
                    </div>


                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Human capital management</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Use K2's HR software to implement apps for all your human capital needs – from recruiting to time tracking.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Job <br>Requisitions</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>HR workflows and applications streamline the process of capturing needs, gaining approvals and onboarding staff.</span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Personnel training</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Easily track performance and ensure employees are properly trained with our HR management software. Identify training candidates, monitor their progress and evaluate results of the training</span>
                    </div>
                    
                </div>
                
                <div class="middle-title">
              HR <br>SOLUTIONS
            </div>

            </div> <!-- actual spider end -->
        </div>
    </div>
</section>
<div class="download-case-study">
  <div class="wrapper">
    <div class="download-case-study__content">
      <div class="download-case-study__logo"><img src="/img/1/worksafe-bc-logo.png" alt=""></div>
      <div class="download-case-study__quote"> “Some processes used to take around 1-3 days for a full approval cycle. <br> With K2, it takes as little as two hours.”</div>
      <div class="download-case-study__quote-author">William Prakasa Lingga - MIS Manager at PT Petrosea</div>
      <div class="download-case-study__description">With over 4,000 employees worldwide, basic HR processes generated a massive amount of paperwork for the company. With K2, PT Petrosea automated its HR processes for timesheet submissions, leave applications, business-travel arrangements, new business-card requests, stationary requests, personnel requests and change-management requests. Now work is completed in just a fraction of the time, HR processes are carried out consistently with full process visibility, and rules and policies prevent errors.</div>
      <a class="download-case-study__button--primary">download case study</a>
    </div>
  </div>
</div>