--- layout: "default.hbs" title: "department details" ---
<section class="main-stage-department-detail" style="background-image:url('/img/1/bg-sales-marketing.jpg');">
    <div class="wrapper">
        <div class="main-stage-department-detail__content">
            <h1 class="main-stage-department-detail__title">
             
               Build and run <br> <span>business applications </span><br> with marketing and sales management software
            </h1>
            <p class="main-stage-department-detail__description">
                Improve efficiency and increase employee satisfaction with an HR automation solution that can streamline your full range of processes, from employee onboarding to vacation requests to benefits administration.
            </p>
        </div>
    </div>
</section>
<section class="solutions-slice">
    <div class="wrapper">
        <div class="solutions-slice__content">
            <h2 class="solutions-slice__title">Solutions</h2>
            <p class="solutions-slice__description">Finding the right solutions to support your organization’s unique range of sales and marketing needs can be challenging. Since information across teams is often stored in multiple systems, sales management software that can truly support sales-driven organizations should be able to pull data from disparate systems into solutions that can be tied to forms and workflows. With K2, you can do all of this and more – without code – to create customized solutions for sales and marketing processes across your organization. K2's sales and marketing management software makes it possible to automate steps to ensure that the right people are notified when tasks are completed, approvals and authorizations are obtained easily, and managers have the visibility they need.
</p>
            <div class="solutions-slice__columns">
                <div class="solutions-slice__single">
                    <h3>Sales order management system</h3>
                    <p>Save time and money by using K2's order management system to streamline your sales order process. With K2, you can generate sales orders and have full visibility into the status of each process, with automated alerts that ensure orders are completed in a timely manner.</p>
                     <h3>Campaign and marketing management software</h3>
                    <p>Collaborate on campaigns, internally and externally, with marketing forms and workflows that facilitate approvals and performance tracking of messaging, media, ad buys and more.</p>
                    
                </div>
                <div class="solutions-slice__single">
                  

                   <h3>Proposal and collateral development</h3>
                    <p>Use K2 to manage document versions, facilitate review cycles, and speed up approval processes, with forms and workflows that ensure each proposal is routed to the right person, at the right time.</p>

                      <h3>Customer self-service</h3>
                    <p>Empower your customers by providing them access to a self-service order management system. Customers can place orders and track them, and also have the ability to submit and track issues they have with an order or product for an improved sense of visibility and control. K2 gives you more than your traditional customer management software.</p>
                   
                </div>
            </div>
            <a href="/schedule-demo" class="solutions-slice__button--primary">Request Demo</a>
        </div>
    </div>
</section>
<section class="spider">
    <div class="wrapper">
        <div class="spider__content">
            <h3 class="spider__title">Transforming sales and marketing, your way</h3>
            <div class="spider__description">K2 applications – composed of forms, workflow and data – can smooth out your sales and marketing processes and make it easier to collaborate across people and systems to manage deliverables and deadlines. With deep integration with backend systems, like Microsoft SharePoint, SAP, Salesforce and more, K2 brings the data you need into a sales management software solution for better lead tracking and analysis, and routes it to right people to streamline and speed up the sales cycle.</div>
            <div class="actual-spider">
            
                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                    <span style="margin-top: 38px;">Content management</span>
                    <div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:9px">Manage the flow of content between parties to ensure the right messages and content are driven through the right channels at the right time.</span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Customer research and tracking</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description" style="padding-top:14px">
                        <span>Monitor and track information across internal and external systems with customer management software, and take action based upon predetermined triggers.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                      <span>Event planning</span>
                      <div class="actual-spider__item--title--palo"></div>
                    </div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:10px">Keep everyone informed and in sync with tasks, reminders, information and reporting to ensure your event is a success.</span>
                    </div>


                </div>
               

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Quote to cash</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Drive a consistent process that includes pricing, quote creation, LOB integration, contract management, invoicing and payment receipt.</span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Contract lifecycle management</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Make it easy for customers to renew contracts without the need for additional sales involvement.</span>
                    </div>
                    
                </div>
                  <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Social interaction management</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:20px;">Task, manage and track social engagement across corporately owned assets and owners.</span>
                    </div>
                    
                </div>
                
                <div class="middle-title" style="    top: 208px;">
              Sales & Marketing <br>SOLUTIONS
            </div>

            </div> <!-- actual spider end -->
        </div>
    </div>
</section>
<div class="download-case-study">
  <div class="wrapper">
    <div class="download-case-study__content">
      <!-- <div class="download-case-study__logo"><img src="/img/1/worksafe-bc-logo.png" alt=""></div> -->
      <div class="download-case-study__quote"> “Having all these processes automated by K2 led to significant improvements in terms of visibility and reliability, on top of cost and time savings.”</div>
      <div class="download-case-study__quote-author">  Eko Heryanto, President Director at MII</div>
      <div class="download-case-study__description">PT Mitra Integrasi Informatika (MII), a leading IT service provider in Indonesia, used K2 to help streamline sales and marketing processes. MII had a number of key processes that were paper-based, inefficient and prone to delays or errors, including the lead profile process and deal qualification process. Both processes lacked proper controls and sufficient visibility. By using apps built on K2's sales management software, MII automated these processes, and were more than satisfied with the results.</div>
      <a class="download-case-study__button--primary">download case study</a>
    </div>
  </div>
</div>