--- layout: "default.hbs" title: "Department Overfiew" ---
<section class="industry-overview-main-stage push-for-menu">
    <div class="wrapper">
        <div class="industry-overview-main-stage__content">
            <h1 class="industry-overview-main-stage__title">Industries & department <br>solutions</h1>
            <p class="industry-overview-main-stage__description">
            	K2 is giving people the power to roll out tailor-made business applications
                <br> fast — for customer onboarding, expense claims, travel authorization, case management and any other process you use at work.
            </p>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li><a class="ajax" href="/industries-overview.html">Industries</a></li>
                <li class="active"><a class="ajax" href="/department-overview.html">Departments</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="industry-overview -departments">
            <div class="industry-overview__columns">
                <a href="/department-detail-hr.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -human-resources">
                        <div class="industry-overview__single-link">Human Resources</div>
                    </div>
                    <div class="industry-overview__single-description">
                        Maximize HR efficiency with apps that reduce workload, provide visibility, and save time and money.
                    </div>
                </a>
                <a href="/department-detail-finance.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -financing">
                        <div class="industry-overview__single-link">finance</div>
                    </div>
                    <div class="industry-overview__single-description">
                        Modern finance has sophisticated needs for clean data, proper governance, compliance and risk mitigation. </div>
                </a>
                <a href="/department-detail-operations.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -operations">
                        <div class="industry-overview__single-link">operations</div>
                    </div>
                    <div class="industry-overview__single-description">
                        K2 provides applications that streamline operational workflows, provide visibility and ensure the business runs smoothly.
                    </div>
                </a>
                <a href="/department-detail-purchasing.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -purchasing">
                        <div class="industry-overview__single-link">purchasing </div>
                    </div>
                    <div class="industry-overview__single-description">
                        Build apps that deliver the right information at the right time, for effective decision-making and negotiation power.
                    </div>
                </a>
                <a href="/department-detail-sales-marketing.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -sales-marketing">
                        <div class="industry-overview__single-link">sales & marketing</div>
                    </div>
                    <div class="industry-overview__single-description">
                        Sales and marketing want tools that make it easy to fill the funnel and drive sales. K2 provides a business application platform to make that happen.
                    </div>
                </a>
                <a href="/department-detail-it.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -it">
                        <div class="industry-overview__single-link">IT</div>
                    </div>
                    <div class="industry-overview__single-description">
                        Your team needs tools that help fill the funnel and drive sales. K2 provides an application platform to make that happen.
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts"></div>