--- layout: "default.hbs" title: "department details" ---
<section class="main-stage-department-detail">
    <div class="wrapper">
        <div class="main-stage-department-detail__content">
            <h1 class="main-stage-department-detail__title">
               Build and run <br> <span>human resources</span><br> applications
            </h1>
            <p class="main-stage-department-detail__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
        </div>
    </div>
</section>
<section class="solutions-slice">
    <div class="wrapper">
        <div class="solutions-slice__content">
            <h2 class="solutions-slice__title">Solutions</h2>
            <p class="solutions-slice__description">
                HR is made up of a diverse range of processes that can be time consuming and redundant, with multiple levels of approvals and touchpoints. K2 applications increase process visibility, eliminate redundancy and reduce manual errors - so you have the time you need to focus on more important things. K2’s drag-and-drop design tools make it possible for business and technical users to rapidly deliver scalable applications with low to no code that streamline simple to complex human resources processes.
            </p>
            <div class="solutions-slice__columns">
                <div class="solutions-slice__single">
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through automated processes that allow managers and employees to set and track performance objectives.</p>
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through automated processes that allow managers and employees to set and track performance objectives.</p>
                </div>
                <div class="solutions-slice__single">
                    <h3>Employee Onboarding and Offboarding</h3>
                    <p>Simplify your employee onboarding andoffboarding procedures with workflows that automatically activate and deactivate user accounts and devices.</p>
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through automated processes that allow managers and employees to set and track performance objectives.</p>
                </div>
            </div>
            <a href="#" class="solutions-slice__button--primary">Schedule Demo</a>
        </div>
    </div>
</section>
<section class="spider">
    <div class="wrapper">
        <div class="spider__content">
            <div class="spider__title">Transforming HR the K2 way</div>
            <div class="spider__description">Use K2 to quickly build, modify and reuse business apps that leverage your current systems and technologies with little to no code — on premises or in the cloud -- from any device. Using forms, workflow and data, K2 provides a platform you can use to streamline any HR process you might need, through reliable apps that deliver the right information to the right people at the right time.</div>
            <div class="spider__actual-spider">
              <img src="/img/1/department_detail_spider.jpg" alt="">

            </div>
        </div>
    </div>
</section>
