--- layout: "default.hbs" title: "department details" ---
<div style="display:none"> 
    <section class="main-stage-department-detail" style="background-image:url('/img/1/bg-hr.jpg');" style="">
        <div class="wrapper">
            <div class="main-stage-department-detail__content">
                <h1 class="main-stage-department-detail__title">
                 
                   Build and run <br> <span>business applications </span><br> with K2's HR software
                </h1>
                <p class="main-stage-department-detail__description">Improve efficiency and increase employee satisfaction with an HR automation solution that can streamline your full range of processes, from employee onboarding to vacation requests to benefits administration.</p>
            </div>
        </div>
    </section>
    <section class="solutions-slice">
        <div class="wrapper">
            <div class="solutions-slice__content">
                <h2 class="solutions-slice__title">Solutions</h2>
                <p class="solutions-slice__description">
                    HR is made up of a diverse range of processes that can be time consuming and redundant, with multiple levels of approvals and touch points. HR management software can simplify tasks and give you back time to focus on new business, not managing processes.
                    HR workflow applications increase process visibility, eliminate redundancy and reduce manual errors - so you can work on more important things. K2’s drag-and-drop design tools make it possible for business and technical users to rapidly deliver scalable HR workflows and applications with low to no code that streamline all HR processes.
                </p>
                <div class="solutions-slice__columns">
                    <div class="solutions-slice__single">
                        <h3>Performance reviews</h3>
                        <p>HR management software reduces subjectivity and inconsistency in performance reviews through HR automation and processes that allow managers and employees to set and track performance objectives.</p>
                        <h3>Leave requests</h3>
                        <p>Make it possible for your employees to submit and track leave requests online, and give HR personnel the data they need to manage theses requests. Centralizing this HR workflow data can also help in identifying trends and providing forecasts.</p>
                    </div>
                    <div class="solutions-slice__single">
                        <h3>Payroll</h3>
                        <p>Eliminate payroll errors and make sure your employees are paid on time with HR software and solutions that retrieve clock-in and clock-out times and integrate the data into workflows to streamline the process from start to finish.</p>

                        <h3>Employee Onboarding and Offboarding</h3>
                        <p>Simplify your employee onboarding and offboarding procedures with HR workflows that automatically activate and deactivate user accounts and devices. K2's employee onboarding software makes HR automation easier.</p>
                       
                    </div>
                </div>
                <a href="/schedule-demo" class="solutions-slice__button--primary">Request Demo</a>
            </div>
        </div>
    </section>
    <section class="spider">
        <div class="wrapper">
            <div class="spider__content">
                <h3 class="spider__title">Transforming HR, your way</h3>
                <div class="spider__description">Use K2's HR management software to rapidly build, modify and reuse business apps that leverage your current systems and technologies with little to no code — on premises or in the cloud -- from any device. Using forms, workflow and data, K2 provides a platform you can use to automate any HR process you might need, through reliable HR workflow apps that deliver the right information, to the right people, at the right time.</div>
                <div class="actual-spider">
                
                    <div class="actual-spider__item">
                        <div class="actual-spider__item--title">
                        <span style="margin-top: 38px;">
                            Benefits administration software
                        </span>
                        <div class="actual-spider__item--title--palo"></div></div>
                        <div class="actual-spider__item--description">
                            <span style="padding-top:9px">
                                 Use K2's HR software to reduce data entry and store all your information in one place, for a simplified approach that fits your company’s needs.
                            </span>
                        </div>

                    </div>
                     <div class="actual-spider__item">
                        <div class="actual-spider__item--title"><span>Employee self-service</span><div class="actual-spider__item--title--palo"></div></div>
                        <div class="actual-spider__item--description" style="padding-top:14px">
                            <span>Provide employees with access to personal records, payroll and benefits information. Plus, automatically route requests to the correct person or department.</span>
                        </div>
                        
                    </div>

                    <div class="actual-spider__item">
                        <div class="actual-spider__item--title">
                          <span>Policy management</span>
                          <div class="actual-spider__item--title--palo"></div>
                        </div>
                        <div class="actual-spider__item--description">
                            <span style="padding-top:10px">Use K2's HR software to implement apps for all your human capital needs – from recruiting to time tracking.</span>
                        </div>


                    </div>
                     <div class="actual-spider__item">
                        <div class="actual-spider__item--title"><span>Human capital management</span><div class="actual-spider__item--title--palo"></div></div>
                        <div class="actual-spider__item--description">
                            <span>Use K2's HR software to implement apps for all your human capital needs – from recruiting to time tracking.</span>
                        </div>
                        
                    </div>

                    <div class="actual-spider__item">
                        <div class="actual-spider__item--title"><span>Job <br>Requisitions</span><div class="actual-spider__item--title--palo"></div></div>
                        <div class="actual-spider__item--description">
                            <span>HR workflows and applications streamline the process of capturing needs, gaining approvals and onboarding staff.</span>
                        </div>

                    </div>
                     <div class="actual-spider__item">
                        <div class="actual-spider__item--title"><span>Personnel training</span><div class="actual-spider__item--title--palo"></div></div>
                        <div class="actual-spider__item--description">
                            <span> Easily track performance and ensure employees are properly trained with our HR management software. Identify training candidates, monitor their progress and evaluate results of the training.</span>
                        </div>
                        
                    </div>
                    
                    <div class="middle-title">
                  HR <br>SOLUTIONS
                </div>

                </div> <!-- actual spider end -->
            </div>
        </div>
    </section>
    <section class="bottom-spider-cta">
        <div class="wrapper">
            <div class="spider__content">
                <p class="spider__description"> Process automation within a single department is only part of the story. See how K2 apps can use existing line-of-business data and systems to connect departments, reducing friction across the entire company.</p>
                <a class="bottom-spider-cta__button-primary" href="http://www.k2.com/files/10307">DOWNLOAD FULL PROCESS DIAGRAM</a>
            </div>
        </div>
    </section>
    <div class="download-case-study">
      <div class="wrapper">
        <div class="download-case-study__content">
          <div class="download-case-study__logo"><img width="200" src="/img/1/departments-petrosea-logo@2x.png" alt=""></div>
          <div class="download-case-study__quote"> “Some processes used to take around 1-3 days for a full approval cycle. <br> With K2, it takes as little as two hours.”</div>
          <div class="download-case-study__quote-author">William Prakasa Lingga - MIS Manager at PT Petrosea</div>
          <div class="download-case-study__description">With over 4,000 employees worldwide, basic HR processes generated a massive amount of paperwork for the company. With K2, PT Petrosea automated its HR processes for timesheet submissions, leave applications, business-travel arrangements, new business-card requests, stationary requests, personnel requests and change-management requests. Now work is completed in just a fraction of the time, HR processes are carried out consistently with full process visibility, and rules and policies prevent errors.</div>
          <a href="http://www.k2.com/files/951" class="download-case-study__button--primary">download case study</a>
        </div>
      </div>
    </div>
</div>
<section class="main-stage-department-detail" style="background-image:url('/img/1/bg-hr.jpg');">
    <div class="wrapper">
        <div class="main-stage-department-detail__content">
            <h1 class="main-stage-department-detail__title">
             
               Transform HR processes with K2
            </h1>
            <p class="main-stage-department-detail__description">Improve efficiency and increase employee satisfaction with HR applications that can streamline a full range of processes, from employee onboarding to vacation requests to benefits administration.</p>
        </div>
    </div>
</section>
<section class="solutions-slice">
    <div class="wrapper">
        <div class="solutions-slice__content">
            <h2 class="solutions-slice__title">Solutions</h2>
            <p class="solutions-slice__description">
                HR is made up of a diverse range of processes that can be time consuming and redundant, with multiple levels of approvals and across departmental systems. Building HR applications and workflows with K2 can increase process visibility, eliminate redundancy and reduce manual errors - so you can work on more important things. K2’s drag-and-drop design tools make it possible for business and technical users to rapidly deliver scalable HR workflows and applications that streamline all HR processes.
            </p>
            <div class="solutions-slice__columns">
                <div class="solutions-slice__single">
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through HR automation and processes that allow managers and employees to set and track performance objectives.</p>
                    <h3>Leave requests</h3>
                    <p>Make it possible for your employees to submit and track leave requests online, and provide HR personnel the data they need to manage requests, identify trends and provide forecasts.

</p>
                </div>
                <div class="solutions-slice__single">
                    <h3>Payroll</h3>
                    <p>Eliminate payroll errors and make sure your employees are paid on time with an application that retrieves clock-in and clock-out times. Integrate this data into workflows to streamline the process from start to finish.</p>

                    <h3>Employee Onboarding and Offboarding</h3>
                    <p>Simplify your employee onboarding and offboarding procedures with workflows that automatically activate and deactivate user accounts and devices.

</p>
                   
                </div>
            </div>
            <a href="/free-trial?home=request-demo" class="solutions-slice__button--primary">Request Demo</a>
        </div>
    </div>
</section>
<section class="spider">
    <div class="wrapper">
        <div class="spider__content">
            <h3 class="spider__title">Transforming HR, your way</h3>
            <div class="spider__description">Use K2 to rapidly build, modify and reuse HR management solutions that leverage your current systems and technologies in new ways, from any device. Using forms, workflow and data, K2 provides a platform you can use to automate any HR process you might need, through reliable HR workflow apps that deliver the right information, to the right people, at the right time.</div>
            <div class="actual-spider">
            
                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                    <span style="margin-top: 38px;">
                        Benefits administration software
                    </span>
                    <div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:9px">
                             Use K2's HR software to reduce data entry and store all your information in one place, for a simplified approach that fits your company’s needs.
                        </span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Employee <br>self-service</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description" style="padding-top:14px">
                        <span>Provide employees with access to personal records, payroll and benefits information. Plus, automatically route requests to the correct person or department.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                      <span>Policy management</span>
                      <div class="actual-spider__item--title--palo"></div>
                    </div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:10px">Use K2's HR software to implement apps for all your human capital needs – from recruiting to time tracking.</span>
                    </div>


                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Human capital management</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Secure critical records and manage the compliance, review and updating of company policies with HR workflows.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Job <br>Requisitions</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>HR workflows and applications streamline the process of capturing needs, gaining approvals and onboarding staff.</span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Personnel training</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span> Easily track performance and ensure employees are properly trained with our HR management software. Identify training candidates, monitor their progress and evaluate results of the training.</span>
                    </div>
                    
                </div>
                
                <div class="middle-title">
              HR <br>SOLUTIONS
            </div>

            </div> <!-- actual spider end -->
        </div>
    </div>
</section>
<section class="bottom-spider-cta">
    <div class="wrapper">
        <div class="spider__content">
            <p class="spider__description"> Process automation within a single department is only part of the story. See how K2 apps can use existing line-of-business data and systems to connect departments, reducing friction across the entire company.</p>
            <a class="bottom-spider-cta__button-primary" href="http://www.k2.com/files/10307">LEARN MORE</a>
        </div>
    </div>
</section>
<div class="download-case-study">
  <div class="wrapper">
    <div class="download-case-study__content">
      <div class="download-case-study__logo"><img width="200" src="/img/1/departments-petrosea-logo@2x.png" alt=""></div>
      <div class="download-case-study__quote"> “Some processes used to take around 1-3 days for a full approval cycle. <br> With K2, it takes as little as two hours.”</div>
      <div class="download-case-study__quote-author">William Prakasa Lingga - MIS Manager at PT Petrosea</div>
      <div class="download-case-study__description">With over 4,000 employees worldwide, basic HR processes generated a massive amount of paperwork for the company. With K2, PT Petrosea automated its HR processes for timesheet submissions, leave applications, business-travel arrangements, new business-card requests, stationary requests, personnel requests and change-management requests. Now work is completed in just a fraction of the time, HR processes are carried out consistently with full process visibility, and rules and policies prevent errors.</div>
      <a href="http://www.k2.com/files/951" class="download-case-study__button--primary">download case study</a>
    </div>
  </div>
</div>
 