--- layout: "default.hbs" title: "department details" ---
<section class="main-stage-department-detail">
    <div class="wrapper">
        <div class="main-stage-department-detail__content">
            <h1 class="main-stage-department-detail__title">
               Build and run <br> <span>human resources</span><br> applications
            </h1>
            <p class="main-stage-department-detail__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
        </div>
    </div>
</section>
<section class="solutions-slice">
    <div class="wrapper">
        <div class="solutions-slice__content">
            <h2 class="solutions-slice__title">Solutions</h2>
            <p class="solutions-slice__description">
                HR is made up of a diverse range of processes that can be time consuming and redundant, with multiple levels of approvals and touchpoints. K2 applications increase process visibility, eliminate redundancy and reduce manual errors - so you have the time you need to focus on more important things. K2’s drag-and-drop design tools make it possible for business and technical users to rapidly deliver scalable applications with low to no code that streamline simple to complex human resources processes.
            </p>
            <div class="solutions-slice__columns">
                <div class="solutions-slice__single">
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through automated processes that allow managers and employees to set and track performance objectives.</p>
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through automated processes that allow managers and employees to set and track performance objectives.</p>
                </div>
                <div class="solutions-slice__single">
                    <h3>Employee Onboarding and Offboarding</h3>
                    <p>Simplify your employee onboarding andoffboarding procedures with workflows that automatically activate and deactivate user accounts and devices.</p>
                    <h3>Performance reviews</h3>
                    <p>Reduce subjectivity and inconsistency in performance reviews through automated processes that allow managers and employees to set and track performance objectives.</p>
                </div>
            </div>
            <a href="#" class="solutions-slice__button--primary">Schedule Demo</a>
        </div>
    </div>
</section>
<section class="spider">
    <div class="wrapper">
        <div class="spider__content">
            <h3 class="spider__title">Transforming HR the K2 way</h3>
            <div class="spider__description">Use K2 to quickly build, modify and reuse business apps that leverage your current systems and technologies with little to no code — on premises or in the cloud -- from any device. Using forms, workflow and data, K2 provides a platform you can use to streamline any HR process you might need, through reliable apps that deliver the right information to the right people at the right time.</div>
            <div class="actual-spider">
            
                <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span style="padding-top: 6px;">Call center management</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span style="padding-top:14px">Empower your call center to take appropriate action, and ensure consistency and compliance.</span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Compliance management software</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Track all processes and related data. Implement rule-driven processes for visibility and consistency. Ensure you remain in full compliance with K2's compliance management software.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title">
                      <span>Job Requiremetns</span>
                      <div class="actual-spider__item--title--palo"></div>
                    </div>
                    <div class="actual-spider__item--description">
                        <span>Track all processes and related data. Implement rule-driven processes for visibility and consistency. Ensure you remain in full compliance with K2's compliance management software.</span>
                    </div>


                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Job Requiremetns</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Track all processes and related data. Implement rule-driven processes for visibility and consistency. Ensure you remain in full compliance with K2's compliance management software.</span>
                    </div>
                    
                </div>

                <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Job Requiremetns</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Track all processes and related data. Implement rule-driven processes for visibility and consistency. Ensure you remain in full compliance with K2's compliance management software.</span>
                    </div>

                </div>
                 <div class="actual-spider__item">
                    <div class="actual-spider__item--title"><span>Job Requiremetns</span><div class="actual-spider__item--title--palo"></div></div>
                    <div class="actual-spider__item--description">
                        <span>Track all processes and related data. Implement rule-driven processes for visibility and consistency. Ensure you remain in full compliance with K2's compliance management software.</span>
                    </div>
                    
                </div>
                
                <div class="middle-title">
              HR <br>SOLUTIONS
            </div>

            </div> <!-- actual spider end -->
        </div>
    </div>
</section>
<div class="download-case-study">
  <div class="wrapper">
    <div class="download-case-study__content">
      <div class="download-case-study__logo"><img src="/img/1/worksafe-bc-logo.png" alt=""></div>
      <div class="download-case-study__quote"> “Some processes used to take around 1-3 days for a full approval cycle. <br> With K2, it takes as little as two hours.”</div>
      <div class="download-case-study__quote-author">William Prakasa Lingga - MIS Manager at PT Petrosea</div>
      <div class="download-case-study__description">With over 4,000 employees worldwide, basic HR processes generated a massive amount of paperwork for the company. With K2, PT Petrosea automated its HR processes for timesheet submissions, leave applications, business-travel arrangements, new business-card requests, stationary requests, personnel requests and change-management requests. Now work is completed in just a fraction of the time, HR processes are carried out consistently with full process visibility, and rules and policies prevent errors.</div>
      <a class="download-case-study__button--primary">download case study</a>
    </div>
  </div>
</div>