---
layout: "default.hbs"
---

<section class="main-stage -homepage">
        <div class="wrapper">
            <div class="main-stage__content">
                <h1 class="main-stage__title">
                    Rapidly deliver business applications <br>
                    <span>that are agile</span>
                </h1>
                <div class="clear"></div>
                <a href="#" class="main-stage__button--primary">
                    Watch intro video
                </a>
            </div>
        </div>
    </section>
    <section class="learn-more">
        <div class="wrapper">
            <div class="learn-more__content">
                <h2 class="learn-more__title">
                    Uniting business and IT to drive bottom-line performance
                </h2>
                <div class="learn-more__description">
                    K2 brings together the best of traditional BPM, packaged solutions and custom development in one platform, for applications that reach across departments and line-of-business systems. These apps use forms and workflow to deliver the right information to the right people, at the right time, so they can make smart, data-driven decisions.
                </div>
                <div class="learn-more__button--primary">Visit Platform Overview</div>
            </div>
        </div>
    </section>
    <section class="departments">
        <div class="wrapper">
            <div class="departments__content">
                <h3 class="departments__title">
                    Find the solution that’s right for you
                </h3>
                <div class="departments__description">
                    More than ever, people are empowered to create or influence applications that will improve process in their department. K2 gives you complete control, so these solutions match your needs precisely.
                </div>
            </div>
        </div>
        <div class="departments-list">
            <span class="departments-list__triangle"></span>
            <ul>
                <li class="departments-list__operations"><a href="">Human Resources</a></li>
                <li class="departments-list__o"><a href="">Financing</a></li>
                <li class="departments-list__operations"><a href="">Operations</a></li>
                <li class="departments-list__operations"><a href="">Purchasing</a></li>
                <li class="departments-list__operations"><a href="">Sales Marketing</a></li>
                <li class="departments-list__operations"><a href="">IT</a></li>
            </ul>
        </div>
    </section>
    <section class="customers">
    </section>
    <section class="event-info"></section>