---
layout: "default.hbs"
title: "How to Buy "
---

<section class="how-to-buy-mainstage">
    <div class="wrapper">
        <div class="how-to-buy-mainstage__content">
            <h1 class="how-to-buy-mainstage__title">
               K2 powers the people <br>who build great companies. <br> That means you.
            </h1>
            <p class="how-to-buy-mainstage__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
        </div>
    </div>
</section>
 <section class="buy-it-now">
	<div class="wrapper">
		<div class="buy-it-now__content">
			<div class="buy-it-now__title">Buy It</div>
		
			<div class="buy-it-now__columns">
				<a href="#" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy.jpg" width="79" alt="">
					<span>Click to Call</a>
				</a>
				<a href="#" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy-request-proposal.jpg" width="68" alt="">
					<span>Request a proposal</a>
				</a>
				<a href="http://www.k2.com/partners/partner-list" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy-partners.jpg" width="99" alt="">
					<span>Work with a Partner</a>
				</a>
				
			</div>
		</div>
	</div>
 </section>
 <section class="how-to-buy-faq">
 	<div class="wrapper">
 		<div class="how-to-buy-faq__content">
 			<div class="how-to-buy-faq__title">FAQ</div>
 			<div class="how-to-buy-faq__question">Which K2 product is right for me?  </div>
 			<div class="how-to-buy-faq__answer">Whether you’re looking for a no-code solution in the cloud or a low-code, on premises platform, we have a solution to match your needs. You can learn more about our products, K2 blackpearl and K2 Appit for SharePoint, here. If you’d rather have us walk you through them to find the best fit, <a href="http://www.k2.com/contact-us">please contact us. </a> </div>

 			<div class="how-to-buy-faq__question">
 				Why work with a partner?
		 	</div>
 			<div class="how-to-buy-faq__answer">
 				K2 works with technology partners to bring customers the best process-driven solutions on the market. K2 also works with delivery partners, who are highly trained, best-in-class consultants, to help customers implement the K2 platform, and much more.
			</div>


			<div class="how-to-buy-faq__question">What pricing models do you offer?
			 </div>
			<div class="how-to-buy-faq__answer">Our pricing is based on a subscription model in order to provide our customers with the most flexible options. </div>

			<div class="how-to-buy-faq__question">Is maintenance included in the purchase price? </div>
			<div class="how-to-buy-faq__answer">Yes, standard support and maintenance is included.
			<a href="http://www.k2.com/access-k2-support">Get the details here.</a>
			</div>

 		</div>
 	</div>
 </section>
 <section class="still-unsure">
        <div class="wrapper">
            <div class="still-unsure__content">
                <h4 class="still-unsure__title">
                    Need more info?
                </h4>
                <p class="still-unsure__description">
                 That’s what we’re here for. Contact us with any questions or to request a custom demo.
                </p>
                <a href="/how-to-buy.html" class="still-unsure__button--primary">Contact Us</a>
            </div>
        </div>
    </section>