---
layout: "default.hbs"
title: "How to Buy "
---

<section class="how-to-buy-mainstage">
    <div class="wrapper">
        <div class="how-to-buy-mainstage__content">
            <h1 class="how-to-buy-mainstage__title">
               K2 powers the people <br>who build great companies. <br> That means you.
            </h1>
            <p class="how-to-buy-mainstage__description">
                We put our customers above everything, and our sole mission is to give them what they need to get the job done, to accelerate performance and to change perceptions about what is possible. Nothing less and nothing else.
            </p>
        </div>
    </div>
</section>
 <section class="buy-it-now">
	<div class="wrapper">
		<div class="buy-it-now__content">
			<div class="buy-it-now__title">Buy It</div>
		
			<div class="buy-it-now__columns">
				<a href="#" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy.jpg" width="79" alt="">
					<span>Click to Call</a>
				</a>
				<a href="#" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy-request-proposal.jpg" width="68" alt="">
					<span>Request a proposal</a>
				</a>
				<a href="#" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy-partners.jpg" width="99" alt="">
					<span>Work with a Partner</a>
				</a>
				<a href="#" class="buy-it-now__single">
					<img src="/img/1/icon-how-to-buy-renew.jpg" width="79" alt="">
					<span>Renew K2</a>
				</a>
			</div>
		</div>
	</div>





 </section>