--- layout: "default.hbs" title: "Industry Overview" ---
<section class="industry-overview-main-stage push-for-menu">
    <div class="wrapper">
        <div class="industry-overview-main-stage__content">
            <h1 class="industry-overview-main-stage__title">Industries & department  <br>solutions
</h1>
            <p class="industry-overview-main-stage__description">K2 is giving people the power to roll out tailor-made business applications
                <br> fast — for customer onboarding, expense claims, travel authorization, case management and any other process you use at work.</p>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                <li class="active"><a class="ajax" href="/industries-overview.html">Industries</a></li>
                <li><a class="ajax" href="/department-overview.html">Departments</a></li>
            </ul>
        </div>
    </div> 
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="industry-overview">
            <div class="industry-overview__columns">
                
                <a href="/industry-detail.html" class="industry-overview__single">
                    <div class="industry-overview__single-image -finance">
                        <div class="industry-overview__single-link">Financial Services</div>
                    </div>
                    <div class="industry-overview__single-description">Integrate processes, procedures and reporting for common scenarios, like account management customer onboarding and compliance.</div>
                </a>
                <a href="http://healthcare.k2.com/us" target="_blank" class="industry-overview__single">
                    <div class="industry-overview__single-image -healthcare">
                        <div class="industry-overview__single-link">Healthcare</div>
                    </div>
                    <div class="industry-overview__single-description">K2 ensures consistency, compliance and collaboration for caregivers and back-office operations, then the benefits roll down into patient care.</div>
                </a>
                <a href="http://legal.k2.com/" target="_blank" class="industry-overview__single">
                    <div class="industry-overview__single-image -legal">
                        <div class="industry-overview__single-link">Legal </div>
                    </div>
                    <div class="industry-overview__single-description">Firms are turning to technology for maximum efficiency in new matter intake, conflict checks, case management and more.</div>
                </a>
                <a href="http://www.k2.com/manufacturing" target="_blank" class="industry-overview__single">
                    <div class="industry-overview__single-image -manufacturing">
                        <div class="industry-overview__single-link">Manufacturing</div>
                    </div>
                    <div class="industry-overview__single-description">Connect process and information, so you can spend more time on innovations that help the bottom line.</div>
                </a>
                <a href="http://www.k2.com/files/5575" target="_blank" class="industry-overview__single">
                    <div class="industry-overview__single-image -gas">
                        <div class="industry-overview__single-link -download">Oil & Gas</div>
                    </div>
                    <div class="industry-overview__single-description">K2 provides real-time information on assets, performance and people, to help companies maximize profit, minimize risk and ensure compliance.</div>
                </a>
                <a href="http://www.k2.com/files/5577" target="_blank" class="industry-overview__single">
                    <div class="industry-overview__single-image -publicsector">
                        <div class="industry-overview__single-link -download">Public Sector</div>
                    </div>
                    <div class="industry-overview__single-description">
                        Government organizations and agencies need better information management, so they can deliver services at lower costs.
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="tabs-scripts"></div>
<div class="topajax"></div>
