---
layout: "default.hbs"
title: "Industry Detail"
---

<style>
 body #financial a {
    color: white !important;
}
/**************************/
/** Reusable Classes      */
/**************************/
.u-btn-box {
  padding: 8px 22px;
  font-size: 18px;
  border: 1px solid white;
  font-weight: bold;
  transition: background-color .3s; }

.u-btn-box:hover {
  text-decoration: none; }

.center-container {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.m-vspacer60 {
  display: none;
  margin-top: 0; }

.m-vspacer30 {
  display: none;
  margin-top: 0; }

/**************************/
/** Learn More            */
/**************************/
.WhiteSite section a {
  color: white; }

.WhiteSite section a:hover {
  text-decoration: none;
  color: white; }

.cta-gree-home {
  background-color: #80ae40;
  display: inline-block;
  text-transform: uppercase; }

.cta-gree-home:hover {
  background-color: #fc7832; }

.cta-orange-box {
  background-color: #fc7832;
  float: left; }

.cta-orange-box:hover {
  background-color: #80ae40; }

.extended-main {
  background-color: #ffffff;
  width: 100%;
  min-height: 385px;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
      padding: 116px;}

.main-message {
  float: left;
  max-width: 590px;
  padding-left: 10px; }

.main-message h1 {
  text-align: left;
  line-height: 1.2em;
  color: #282d43;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase; }

.main-message p {
  max-width: 700px;
  text-align: left;
  color: #5d5d5e;
  padding-right: 117px;
  line-height: 1.3em;
  font-size: 16px; }

.main-message .cta-gree-home {
  float: left;
  cursor: pointer; }

.scenarios {
  text-align: center;
  background-color: #f1f1f2;
  border-top: 5px solid white;
  padding-bottom: 90px; }
  .scenarios h3 {
    font-family: "Avenir Next LT W01 Bold" !important;
    font-weight: normal !important;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 80px; }
  .scenarios p {
    text-align: left;
    font-size: 15px;
    padding-top: 15px; }
  .scenarios ul {
    padding-top: 10px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
    width: 100%;
    line-height: 1.5em; }
    @media only screen and (max-width: 768px) {
      .scenarios ul {
        -webkit-column-count: auto;
        -moz-column-count: auto;
        column-count: auto; } }
    .scenarios ul li {
      text-align: left;
      display: inline-block;
      padding-left: 40px;
      display: list-item;
      font-size: 15px;
      text-indent: -20px; }
      .scenarios ul li:before {
        content: '•';
        display: inline-block;
        padding-right: 5px;
        font-size: 15px; }
      @media only screen and (max-width: 768px) {
        .scenarios ul li {
          float: left; } }
  .scenarios .cta {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 16px; }

.testimonial {
  text-align: center;
  padding: 50px 20px 80px; }
  .testimonial .thumb-logo {
    margin: 10px 0px 30px; }
  .testimonial .quote {
    font-family: "Bulmer MT W01 Italic";
    color: white;
    font-size: 25px;
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.2em; }
  .testimonial .author {
    text-transform: uppercase;
    padding-top: 10px;
    color: #282d43; }
  .testimonial .cta-case-study {
    float: left;
    width: 100%;
    display: block;
    margin-top: 38px; }
    .testimonial .cta-case-study a {
    
      color: black;
      font-weight: normal; }
      .testimonial .cta-case-study a:hover {
        color: black;
        background-color: white; }

#learn-more-anchor {
  position: relative;
  top: -60px;
  visibility: hidden; }

.three-column-content {
  font-family: "AvenirNextLTW01-Regular" !important;
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center; }
  .three-column-content .top-image {
    width: 172px;
    margin: 10px 10px 13px 10px;
    border-radius: 220px;
    -webkit-border-radius: 220px;
    -moz-border-radius: 220px;
    transition: border .5; }
  .three-column-content .title {
    width: 100%;
    font-size: 24px;
    padding-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center; }
  .three-column-content .subtitle {
    color: black;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 700;
    max-width: 100%;
    text-align: left; }
  .three-column-content .columns {
    padding: 2px 32px; }
  .three-column-content .columns p {
    margin-top: 12px;
    max-width: 100%;
    line-height: 1.4em;
    font-size: 15px;
    margin-bottom: 0px;
    text-align: left; }
    @media only screen and (max-width: 768px) {
      .three-column-content .columns p {
        max-width: 100%; } }
  .three-column-content .bottom-link {
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    padding-top: 20px;
    display: inline-block;
    font-family: "Avenir Next LT W01 Bold";
    text-align: left;
    float: left;
    cursor: pointer; }

.resources {
  background-color: #f1f1f2;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media only screen and (max-width: 768px) {
    .resources {
      padding-top: 20px; } }
  .resources h4 {
    font: 24px "Avenir Next LT W01 Bold" !important;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase; }
    .resources h4.background {
      position: relative;
      z-index: 1; }
    .resources h4.background:before {
      border-top: 1px solid #666a67;
      content: "";
      margin: 0 auto;
      /* this centers the line to the full width specified */
      position: absolute;
      /* positioning must be absolute here, and relative positioning must be applied to the parent */
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      width: 95%;
      z-index: -1; }
    .resources h4.background span {
      /* to hide the lines from behind the text, you have to set the background color the same as the container */
      background: #f1f1f2;
      padding: 0 34px; }
      @media only screen and (max-width: 768px) {
        .resources h4.background span {
          padding: 0px 10px; } }
  .resources ul {
    text-align: center;
    padding: 0px 10px 0px 0px;    list-style: none; }
    .resources ul li {
      font-family: "Avenir Next LT W01 Bold" !important;
      line-height: 1.8em;
      font-size: 18px; }
      @media only screen and (max-width: 768px) {
        .resources ul li {
          font-size: 14px; } }
      .resources ul li.title {
        padding-top: 20px; }
      .resources ul li a {
        font-family: "AvenirNextLTW01-Regular" !important;
        border-bottom: 1px solid black;
        color: #4f5858;
        font-size: 14px; }
        .resources ul li a:hover {
          text-decoration: none !important; }

@media only screen and (max-width: 768px) {
  .extended-main {
    min-height: 360px;
    padding: 20px;
    background-position: top left; }

  .main-message {
    width: 100%;
    padding: 0px 0px; }

  .main-message h1 {
    text-align: left;
    width: 100%;
    font-size: 22px;
    margin-top: 30px; }

  .main-message p {
    padding-right: 0px; }

  .columns {
    padding: 0 20px; }

  .events .center-container {
    width: 100%;
    padding: 0 20px; }

  .m-vspacer60 {
    display: block;
    margin-top: 60px; }

  .m-vspacer30 {
    display: block;
    margin-top: 30px; }

  .featured-videos .description {
    text-align: center; }

  .video-item {
    max-width: 350px; } }
.clear {
  clear: both; }

.extended-main {
  background-image: url("http://www.k2.com/img/96/financial-services-banner.jpg"); }

.main-message h1 span {
  color: #80ae40; }

.testimonial {
  background-color: #80ae40; }

.three-column-content .title {
  color: #80ae40; }

.resources h4 {
  color: #80ae40; }
.resources li {
  color: #80ae40; }

.three-column-content .bottom-link:hover {
  color: #80ae40; }

.resources h4 {
  color: #80ae40; }
.resources li {
  color: #80ae40; }
  .resources li a:hover {
    color: #80ae40;
    border-bottom-color: #80ae40; }
</style>
<div id="financial">
<section class="extended-main">
<div class="row">
<div class="main-message">
<h1>Build and run <br /> <span>financial services</span><br /> applications</h1>
<p>Speed, agility, and risk management — everyone is looking to improve these in today’s financial industry. Discover how process automation and business apps from K2 can help.</p>
<a id="btn-see-it-live" class="cta-gree-home u-btn-box" href="#learn-more-anchor">Learn More</a></div>
</div>
</section>
<section class="scenarios">
<div class="row">
<div class="columns twelve">
<h3>Scenarios</h3>
<p>Pursuing new opportunities while keeping abreast of regulations can be challenging. Integrating and streamlining your processes and reporting across business units can be a time-consuming struggle that hampers success. Comprehensive business solutions from K2 can help empower your organization, streamline processes and inform business tasks. Some examples of where K2 can help:</p>
<ul>
<li>Account management</li>
<li>Credit risk management</li>
<li>Customer onboarding</li>
<li>Dispute resolution</li>
<li>Loan origination</li>
<li>Binder approval</li>
<li>Collections</li>
<li>Debt counseling</li>
<li>Default management</li>
<li>Fund management</li>
<li>Fraud claims management</li>
</ul>
<div class="cta"><a href="http://www.k2.com/free-trial?home=financial-industry" class="u-btn-box cta-gree-home">Request Demo</a></div>
</div>
</div>
</section>
<section class="testimonial">
<div class="row">
<div class="thumb-logo"><img src="http://www.k2.com/img/96/islandsavings-logo.png" width="70" alt="" /></div>
<div class="quote">“Our new mortgage-origination solution [...] streamlines every aspect of the process and prevents errors or missing information. Now it takes us 45 minutes to complete something that used to take three days.”</div>
<div class="author">Darrell Jaggers - VP of Information Systems at Island Savings</div>
<div class="cta-case-study"><a class="u-btn-box" href="http://www.k2.com/customers/island-savings">SEE CASE STUDY</a></div>
</div>
</section>
<div id="learn-more-anchor"></div>
<section class="three-column-content">
<div class="row">
<div class="columns four"><img class="top-image" src="http://www.k2.com/img/96/video-financial-services.jpg" alt="events" />
<div class="title">Video</div>
<div class="subtitle">Situs had an ROI of more than $600k in annual savings in just the first year of deployment</div>
<p>Situs, a commercial real estate company in the financial services industry, was planning significant growth that required process automation. With K2, Situs saw a $600,000 ROI in their first year alone. Find out why Daretha Hodges, VP of Project Management at Situs, calls K2 "the translator."</p>
<a class="bottom-link _ExpandVideo" popuptarget="/videos/9697">Watch Video</a></div>
<div class="columns four">
<div class="m-vspacer60"></div>
<img class="top-image" src="http://www.k2.com/img/96/financial-services-whitepaper.jpg" alt="events" />
<div class="title">Case Study</div>
<div class="subtitle">Using K2, we can now complete invoice approvals around 50 percent quicker than before</div>
<p>A global provider of financial solutions for life insurance, pensions and asset management, Aegon uses K2 to reduce invoice approval time and gain visibility.</p>
<a class="bottom-link" href="http://www.k2.com/customers/aegon">See Case Study</a></div>
<div class="columns four">
<div class="m-vspacer60"></div>
<img class="top-image" src="http://www.k2.com/img/96/Blog-financial-services.jpg" alt="events" />
<div class="title">Blog</div>
<div class="subtitle">Top five reasons to modernize your financial processes</div>
<p>Learn how financial services firms can build apps that span users, systems and departments, while getting the most out of the IT infrastructure they already have in place and without spending millions of dollars to redesign systems.</p>
<a class="bottom-link" href="http://community.k2.com/t5/Blog/Top-five-reasons-to-modernize-your-financial-processes/ba-p/78581" target="_blank">LEARN MORE</a></div>
</div>
</section>
<div class="resources">
<div class="row">
<h4 class="background"><span>RESOURCE LIBRARY</span></h4>
<ul>
<li class="title">Case Studies</li>
<li><a href="http://www.k2.com/customers/mpic">MPIC</a></li>
<li><a href="http://www.k2.com/customers/sparebanken-vest">Sparebanken Vest</a></li>
<li><a href="http://www.k2.com/displaycontent.aspx?id=5187">Bualuang Securities</a></li>
<li><a href="http://www.k2.com/customers/island-savings">Island Savings</a></li>
<li><a href="http://www.k2.com/customers/aegon">Aegon</a></li>
</ul>
</div>
</div>
</div>   