--- 
layout: "default.hbs" 
title: "learn-more" 
---

<section class="main-stage-learn-more">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">K2 helps your people work smarter <br>and get business done faster.</h1>
            <p class="main-stage-learn-more__description">Create, modify and reuse business apps with little-to-no code — on premises or in the cloud. <br>Leverage current systems and technologies, and interact with your apps from any device.</p>
            <a href="#" class="main-stage-learn-more__button--primary">Schedule Demo</a>

        </div>
    </div>

</section>
<section class="tabs">
       <ul>
        <li class="active"><a href="">Overview</a></li>
        <li><a href="">Forms</a></li>
        <li><a href="">Workflow</a></li>
        <li><a href="">Data</a></li>
        <li><a href="">App Experience</a></li>
    </ul>
</section>
<section class="tabs-content">
   

</section>