--- layout: "default.hbs" title: "learn-more" ---
<section class="main-stage-learn-more">
    <div class="wrapper">
        <div class="main-stage-learn-more__content">
            <h1 class="main-stage-learn-more__title">K2 helps your people work smarter <br>and get business done faster.</h1>
            <p class="main-stage-learn-more__description">Create, modify and reuse business apps with little-to-no code — on premises or in the cloud.
                <br>Leverage current systems and technologies, and interact with your apps from any device.</p>
            <a href="#" class="main-stage-learn-more__button--primary">Schedule Demo</a>
        </div>
    </div>
</section>
<section class="tabs">
    <div class="wrapper">
        <div class="tabs__content">
            <ul>
                 <li class="active"><a class="ajax" href="/learn-more.html">Overview</a></li>
                <li><a class="ajax" href="/forms.html">Forms</a></li>
                <li><a class="ajax" href="/workflow.html">Workflow</a></li>
                <li><a class="ajax" href="/data.html">Data</a></li>
                <li><a class="ajax" href="/app-experience.html">App Experience</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="tabs-content">
    <div class="wrapper">
        <div class="tab-content__content">
            <div class="overview">
                <div class="overview__title">
                    Anatomy of a K2 business app
                </div>
                <div class="overview__description">
                    K2 business apps help you streamline process — expense claims, customer onboarding, travel authorizations or any other process you use at work. They connect people, data and systems to drive substantial time savings and offer full traceability on every process. Bring products to market faster, gain critial approvals quickly, meet regulatory and compliance demands with full confidence. K2 enables you to build apps the way you want, with components like forms and workflow. Let’s look at an example:
                </div>
                <div class="overview__graph">
                    <div class="overview__graph--right-content">

                        <div class="overview__graph--mobile-image">
                        
                            <img src="/img/1/mobile-graph1.png" alt="">

                        </div>
                        <h3>Start with information from your LOB systems</h3>
                        <p>Reusable data connections (we call them SmartObjects) allow you to leverage line-of-business and Web-based data in your applications, securely, regardless of where it lives.</p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph2.png" alt="">
                        </div>
                        <h3>Organize with forms</h3>
                        <p>Mobile-ready forms provide an intuitive interface for gathering, distributing and interacting with information.</p>
                    </div>
                    <div class="overview__graph--right-content">
                        <div class="overview__graph--mobile-image">
                            <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph3.png" alt="">
                        </div>
                        <h3>
                            Process with a custom workflow
                        </h3>
                        <p>
                            Automated workflows route information, drive action and ensure consistency by connecting your people with relevant tasks and information.
                        </p>
                    </div>
                    <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -blue"></div>
                            <img src="/img/1/mobile-graph4.png" alt="">
                        </div>
                        <h3>View comprehensive reports</h3>
                        <p>Track your applications with real-time insight into process status and business performance.</p>
                    </div>
                     <div class="overview__graph--left-content">
                        <div class="overview__graph--mobile-image">
                             <div class="down-arrow -green"></div>
                            <img src="/img/1/mobile-graph5.png" alt="">
                        </div>
                        <h3>View comprehensive reports</h3>
                        <p>Track your applications with real-time insight into process status and business performance.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="products-slice">
    <div class="wrapper">
        <div class="products-slice__content">
            <h4 class="products-slice__title">Products</h4>
            <p class="products-slice__description">K2 apps run on premises or in the cloud, they integrate with your current systems, and they allow for insightful reporting. Everything you build is reusable and easy to change with little-to-no code.</p>
            <a class="products-slice__primary-cta">See for yourself</a>
        </div>
    </div>
</section>
<section class="one-miniute-video-slice">
    <div class="wrapper">
        <div class="one-miniute-video-slice__content">
            <h4 class="one-miniute-video-slice__title">ONE-MINUTE DEMO VIDEOS</h4>
            <p class="one-miniute-video-slice__description">Want to see K2 in action? Click below to learn how easy it can be to build and run business process applications with forms, workflow, data and reports.</p>
            <a class="one-miniute-video-slice__primary-cta">watch videos</a>
        </div>
    </div>
</section>
<div class="tabs-scripts"></div>
