---
layout: "default.hbs"
---

<section class="product-main-stage">
    <div class="wrapper">
        <div class="product-main-stage__content">
            <div class="product-main-stage__title">Products</div>
            <div class="product-main-stage__products-container">
                <div class="product-main-stage__appit">
                    <div class="product-main-stage__section">
                        <img src="/img/1/product-appit.png" width="100%" alt="">
                        <div class="product-main-stage__section-title">Appit</div>
                        <div class="product-main-stage__section-description">
                            <ul>
                                <li>.Workflow and forms for SharePoint</li>
                                <li>Cloud-based service</li>
                                <li>No-code solutions</li>
                                <li>Enterprise-ready</li>
                                <li>
                                    <a href="">Downnload Appit Technical Info</a>
                                    <a href="">see comparison chart</a>
                                </li>
                            </ul>
                        </div>
                    
                    </div>
                </div>
                <!-- appit end -->
                <div class="product-main-stage__blackpearl">
                    <div class="product-main-stage__section">
                            <img src="/img/1/prorduct-blackpearl.png" alt="">
                            <div class="product-main-stage__section-title">BLACKPEARL</div>
                            <div class="product-main-stage__section-description">
                                <ul>
                                    <li>Business applications that can be hosted in multiple environments.</li>
                                    <li>On-premises or cloud-hosted platform</li>
                                    <li>Little to no code solutions</li>
                                    <li>Enterprise-ready with extensibility options</li>
                                    <li>
                                        <a href="">Downnload Blackpearl Technical Info</a>
                                        <a href="">see comparison chart</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <!-- blackpearl -->
                <div class="product-main-stage__bottom-cta">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<section class="your-business">
    <div class="wrapper">
        <div class="your-business__title"></div>
        <div class="your-business__description"></div>
        <div class="your-business__columns">
            <div class="your-business__columns-single"></div>
            <div class="your-business__columns-single"></div>
            <div class="your-business__columns-single"></div>
        </div>
        <div class="how-to-buy__primary-cta"></div>
    </div>
</section>
<section class="easy-vs-hard">
    <div class="wrapper">
        <div class="easy-vs-hard__title">Easy Versus hard</div>
        <div class="easy-vs-hard__description">Building solutions with K2 is 8x faster than with ASP.NET. We know because we tested them, head to head.</div>
        <div class="easy-vs-hard__primary-cta">See for yourself</div>
    </div>
</section>
