--- 
layout: "default.hbs" 
title: "products" 
---
<section class="product-main-stage push-for-menu">
    <div class="wrapper">
        <div class="product-main-stage__content">
            <div class="product-main-stage__title">Products</div>
            <div class="product-main-stage__products-container">
                <div class="product-main-stage__appit">
                    <div class="product-main-stage__section">
                        <img src="/img/1/product-appit2.png" width="100%" alt="">
                        <h2 class="product-main-stage__section-title">K2 Appit for sharepoint</h2>
                        <div class="product-main-stage__section-description">
                            <ul>
                                <li>Workflow and forms for Office 365 and SharePoint</li>
                                <li><span></span></li>
                                <li>Cloud-based service</li>
                                <li><span></span></li>
                                <li>No-code solutions</li>
                                <li><span></span></li>
                                <li>Enterprise-ready</li>
                                <li><span></span></li>
                                <li>
                                    <a class="product-main-stage__underline-cta" href="http://www.k2.com/files/10305">Download Appit brochure</a>
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- appit end -->
                <div class="product-main-stage__blackpearl">
                    <div class="product-main-stage__section">
                        <img src="/img/1/prorduct-blackpearl2.png" alt="">
                        <h2 class="product-main-stage__section-title">K2 BLACKPEARL</h2>
                        <div class="product-main-stage__section-description">
                            <ul>
                                <li>Business applications that can be hosted in multiple environments</li>
                                <li><span></span></li>
                                <li>On-premises or cloud-hosted platform</li>
                                <li><span></span></li>
                                <li>Little to no code solutions</li>
                                <li><span></span></li>
                                <li>Enterprise-ready with extensibility options</li>
                                <li><span></span></li>
                                <li>
                                    <a class="product-main-stage__underline-cta" href="http://www.k2.com/files/10306">Download blackpearl brochure</a>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blackpearl -->
                <div class="product-main-stage__bottom-cta">
                    <div class="product-main-stage__bottom-cta-content">
                        <div class="product-main-stage__bottom-cta-content-description">
                           Streamline any process with K2. We have products to match all of your business needs. 
                        </div>
                        <a href="/schedule-demo.html" class="product-main-stage__button--primary">Schedule Demo</a>
                        <a href="/how-to-buy.html" class="product-main-stage__button--secondary">How To BUy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="your-business">
    <div class="wrapper">
        <div class="your-business__content">
            <div class="your-business__title">
                Your business, your way
            </div>
            <div class="clear"></div>
            <p class="your-business__description">
                With K2, you can develop business applications fast and on the fly, increasing the efficiency of your day-to-day operations and propelling your business to new levels of performance and profitability. Check out the videos below for in-depth demos that showcase our simple design tools and the end-user benefits of K2's products.
            </p>
            <div class="your-business__columns">
                <a class="your-business__columns-single _ExpandVideo" style="cursor: pointer;" href="/experience_k2/form-design" popuptarget="/videos/7266">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Isolation_Mode" x="0px" y="0px" viewBox="0 0 70.1 48.8" style="enable-background:new 0 0 70.1 48.8;" xml:space="preserve">
                        <switch>
                            <g i:extraneous="self">
                                <g>
                                    <g>
                                        <path class="st0" d="M58.5,48.8H11.6C5.2,48.8,0,43.6,0,37.2V11.6C0,5.2,5.2,0,11.6,0h46.9c6.4,0,11.6,5.2,11.6,11.6v25.6      C70.1,43.6,64.9,48.8,58.5,48.8z M11.6,7C9.1,7,7,9.1,7,11.6v25.6c0,2.6,2.1,4.6,4.6,4.6h46.9c2.6,0,4.6-2.1,4.6-4.6V11.6      c0-2.6-2.1-4.6-4.6-4.6L11.6,7L11.6,7z"/>
                                    </g>
                                    <path class="st0" d="M29.1,13.7c0-1,0.6-1.3,1.4-0.7l14.7,10.5c0.8,0.6,0.8,1.5,0,2L30.5,35.9c-0.8,0.5-1.4,0.2-1.4-0.7     L29.1,13.7L29.1,13.7z"/>
                                </g>
                            </g>
                        </switch>
                    </svg>
                    <img src="/img/1/product-designing-forms-@2x.jpg" alt="">
                    <h4 class="your-business__columns-single-title">Designing forms</h4>
                </a>
                <a class="your-business__columns-single _ExpandVideo" style="cursor: pointer;" href="/experience_k2/form-design" popuptarget="/videos/7266"> 
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Isolation_Mode" x="0px" y="0px" viewBox="0 0 70.1 48.8" style="enable-background:new 0 0 70.1 48.8;" xml:space="preserve">
                        <switch>
                            <g i:extraneous="self">
                                <g>
                                    <g>
                                        <path class="st0" d="M58.5,48.8H11.6C5.2,48.8,0,43.6,0,37.2V11.6C0,5.2,5.2,0,11.6,0h46.9c6.4,0,11.6,5.2,11.6,11.6v25.6      C70.1,43.6,64.9,48.8,58.5,48.8z M11.6,7C9.1,7,7,9.1,7,11.6v25.6c0,2.6,2.1,4.6,4.6,4.6h46.9c2.6,0,4.6-2.1,4.6-4.6V11.6      c0-2.6-2.1-4.6-4.6-4.6L11.6,7L11.6,7z"/>
                                    </g>
                                    <path class="st0" d="M29.1,13.7c0-1,0.6-1.3,1.4-0.7l14.7,10.5c0.8,0.6,0.8,1.5,0,2L30.5,35.9c-0.8,0.5-1.4,0.2-1.4-0.7     L29.1,13.7L29.1,13.7z"/>
                                </g>
                            </g>
                        </switch>
                    </svg>
                    <img src="/img/1/product-workflow@2x.jpg" alt="">
                    <h4 class="your-business__columns-single-title">Building workflows</h4>
                </a>
                <a class="your-business__columns-single _ExpandVideo" style="cursor: pointer;" href="/experience_k2/form-data" popuptarget="/videos/7268">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Isolation_Mode" x="0px" y="0px" viewBox="0 0 70.1 48.8" style="enable-background:new 0 0 70.1 48.8;" xml:space="preserve">
                        <switch>
                            <g i:extraneous="self">
                                <g>
                                    <g>
                                        <path class="st0" d="M58.5,48.8H11.6C5.2,48.8,0,43.6,0,37.2V11.6C0,5.2,5.2,0,11.6,0h46.9c6.4,0,11.6,5.2,11.6,11.6v25.6      C70.1,43.6,64.9,48.8,58.5,48.8z M11.6,7C9.1,7,7,9.1,7,11.6v25.6c0,2.6,2.1,4.6,4.6,4.6h46.9c2.6,0,4.6-2.1,4.6-4.6V11.6      c0-2.6-2.1-4.6-4.6-4.6L11.6,7L11.6,7z"/>
                                    </g>
                                    <path class="st0" d="M29.1,13.7c0-1,0.6-1.3,1.4-0.7l14.7,10.5c0.8,0.6,0.8,1.5,0,2L30.5,35.9c-0.8,0.5-1.4,0.2-1.4-0.7     L29.1,13.7L29.1,13.7z"/>
                                </g>
                            </g>
                        </switch>
                    </svg>
                    <img src="/img/1/product-data-@2x.jpg" alt="">
                    <h4 class="your-business__columns-single-title">Integrating data </h4>
                </a>
            </div>
            <div class="clear"></div>
            <a href="/one-minute-demo.html" class="your-business__primary-cta">View One-Minute Demos</a>

        </div>
    </div>
</section>
<section class="easy-vs-hard">
    <div class="wrapper">
        <div class="easy-vs-hard__content">
            <div class="easy-vs-hard__title">Easy Versus hard</div>
            <p class="easy-vs-hard__description">We had a theory that K2 smartforms would speed development time by 400% over ASP.NET. We tested it, and realized that we weren’t even close. What happened?</p>
            <a href="http://easyvshard.k2.com" target="_blank" class="easy-vs-hard__primary-cta">Get the story</a>
        </div>
    </div>
</section>
