--- 
layout: "default.hbs" 
title: "products" 
---
<section class="product-main-stage push-for-menu">
    <div class="wrapper">
        <div class="product-main-stage__content">
            <div class="product-main-stage__title">Products</div>
            <div class="product-main-stage__products-container">
                <div class="product-main-stage__appit">
                    <div class="product-main-stage__section">
                        <img src="/img/1/product-appit2.png" width="100%" alt="">
                        <div class="product-main-stage__section-title">K2 Appit for sharepoint</div>
                        <div class="product-main-stage__section-description">
                            <ul>
                                <li>Workflow and forms for Office 365 and SharePoint</li>
                                <li><span></span></li>
                                <li>Cloud-based service</li>
                                <li><span></span></li>
                                <li>No-code solutions</li>
                                <li><span></span></li>
                                <li>Enterprise-ready</li>
                                <li><span></span></li>
                                <li>
                                    <a class="product-main-stage__underline-cta" href="">Download Appit brochure</a>
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- appit end -->
                <div class="product-main-stage__blackpearl">
                    <div class="product-main-stage__section">
                        <img src="/img/1/prorduct-blackpearl2.png" alt="">
                        <div class="product-main-stage__section-title">K2 BLACKPEARL</div>
                        <div class="product-main-stage__section-description">
                            <ul>
                                <li>Business applications that can be hosted in multiple environments</li>
                                <li><span></span></li>
                                <li>On-premises or cloud-hosted platform</li>
                                <li><span></span></li>
                                <li>Little to no code solutions</li>
                                <li><span></span></li>
                                <li>Enterprise-ready with extensibility options</li>
                                <li><span></span></li>
                                <li>
                                    <a class="product-main-stage__underline-cta" href="">Download blackpearl brochure</a>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- blackpearl -->
                <div class="product-main-stage__bottom-cta">
                    <div class="product-main-stage__bottom-cta-content">
                        <div class="product-main-stage__bottom-cta-content-description">
                           Streamline any process with K2. We have products to match all of your business needs. 
                        </div>
                        <a href="/schedule-demo.html" class="product-main-stage__button--primary">Schedule Demo</a>
                        <a href="/how-to-buy.html" class="product-main-stage__button--secondary">How To BUy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="your-business">
    <div class="wrapper">
        <div class="your-business__content">
            <div class="your-business__title">
                Your business, your way
            </div>
            <div class="clear"></div>
            <p class="your-business__description">
                With K2, you can develop business applications fast and on the fly, increasing the efficiency of your day-to-day operations and propelling your business to new levels of performance and profitability. Check out the videos below for in-depth demos that showcase our simple design tools and the end-user benefits of K2's products.
            </p>
            <div class="your-business__columns">
                <div class="your-business__columns-single"> 
                    <img src="/img/1/product-vidoe-placeholder.jpg" alt="">
                    <h4 class="your-business__columns-single-title">Use Case #</h4>
                </div>
                <div class="your-business__columns-single">
                    <img src="/img/1/product-vidoe-placeholder.jpg" alt="">
                    <h4 class="your-business__columns-single-title">Use Case #</h4>
                </div>
                <div class="your-business__columns-single">
                    <img src="/img/1/product-vidoe-placeholder.jpg" alt="">
                    <h4 class="your-business__columns-single-title">Use Case #</h4>
                </div>
            </div>
            <div class="clear"></div>
            <a href="/one-minute-demo.html" class="your-business__primary-cta">View One-Minute Demos</a>

        </div>
    </div>
</section>
<section class="easy-vs-hard">
    <div class="wrapper">
        <div class="easy-vs-hard__content">
            <div class="easy-vs-hard__title">Easy Versus hard</div>
            <p class="easy-vs-hard__description">We had a theory that K2 smartforms would speed development time by 400% over ASP.NET. We tested it, and realized that we weren’t even close. What happened?</p>
            <a href="http://easyvshard.k2.com" target="_blank" class="easy-vs-hard__primary-cta">Get the story</a>
        </div>
    </div>
</section>
