// 1680
// 1584

.company {
    background-size: 1680px 1584px;
    background-repeat:no-repeat;
    background-position:top center;
    height:1584px;
    width:100%;
    background-image:url('/img/1/company-page.jpg');
}
.push-for-menu-3 {
	padding-top:30px;
}