// 1680
// 1584

.company {
    background-size: 1680px 1584px;
    background-repeat:no-repeat;
    background-position:top center;
    height:1584px;
    width:100%;
    background-image:url('/img/1/CompanyPage_OurStory_R1.jpg');
}
.push-for-menu-3 {
	padding-top:30px;
}



.department-detail {

	  background-size: 1680px 2252px;
    background-repeat:no-repeat;
    background-position:top center;
    height:2252px;
    width:100%;
     background-image:url('/img/1/department_detail_page_R3.jpg');
}

.department-overview {

	  background-size: 1680px 1982.5px;
    background-repeat:no-repeat;
    background-position:top center;
    height:1982.5px;
    width:100%;
    background-image:url('/img/1/d-detail-page.jpg');
   
}


.how-to-buy-main-stage {

	 background-size: 1680px 1631px;
    background-repeat:no-repeat;
    background-position:top center;
    height:1631px;
    width:100%;
    background-image:url('/img/1/how-to-buy-page.jpg');
}