@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

@mixin white($opacity){
    background-color: rgba(255,255,255,$opacity)
}


@mixin retina {
  @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    @content;
  }
}




$tablet-width: $screen-md;
$desktop-width: $screen-lg;

// USAGE
// @include tablet {
//    font-size: 18px;
//  }

//  @include desktop {
//    font-size: 20px;
//  }





@mixin tablet {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
