// 1680
// 1584
.main-stage-department-detail {
    @extend %department-details;
    &__content {
        @extend %department-details__content;
    }
    &__title {
        @extend %department-details__title;
    }
    &__description {
        @extend %department-details__description;
    }
    &__button--primary {
        @extend %department-details__button--primary;
    }
}

%department-details {
    background-image: url('/img/1/bg-it.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 423px;
    @include tablet {
        background-position: top center;
        min-height: 523px;
    }
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(8);
        @include make-sm-column-offset(1);
        @include make-md-column(6);
        @include make-md-column-offset(1);
    }
    &__title {
        text-transform: uppercase;
        color: $k2-blue;
        margin-top: 130px;
        font-size: 36px;
        span {
            color: $k2-green;
        }
        @include tablet {
            margin-top: 175px;
            br {
                display: block;
            }
        }
    }
    &__description {
        @extend %t-paragraph;
        margin-top: 20px;
    }
    &__button--primary {
        @extend %button;
        @extend %button--green;
        font-size: 16px;
    }
}

.solutions-slice {
    padding: 20px 0px 50px;
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
        text-align: center;
    }
    &__title {
        @extend %t-heading-bulmer;
        text-align: center;
        font-weight: bold;
    }
    &__description {
        @extend %t-paragraph;
        text-align: center;
    }
    &__columns {
      text-align:center;
    }
    &__single {
      text-align: left;
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(6);
        @include make-sm-column-offset(0);
        h3 {
            @include add-important(font-family,
            $bulmer-italic);
            font-size: 24px;
            color: $k2-green;
            margin-bottom: 7px;
        }
        p {
            @extend %t-paragraph;
            
            @include tablet {
              min-height: 91px;
            }
        }
    }
    &__button--primary {
      margin:0 auto;
      @extend %button;
      @extend %button--green;
      
    }
}




.spider {
  background-color:$k2-blue;
    padding: 40px 0px;
    border-top: 5px solid white;
    text-align: center;
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
    }
    &__title {
       @extend %t-heading-bulmer;
       color:white;
    }
    &__description {
        @extend %t-paragraph;
        color: $k2-purple;
        padding:30px 0px;
    }
      
    
}

