// 1680
// 1584
.main-stage-department-detail {
    @extend %department-details;
    &__content {
        @extend %department-details__content;
    }
    &__title {
        @extend %department-details__title;
    }
    &__description {
        @extend %department-details__description;
    }
    &__button--primary {
        @extend %department-details__button--primary;
    }
}

%department-details {
    background-image: url('/img/1/bg-it.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 423px;
    @include tablet {
        background-position: top center;
        min-height: 523px;
    }
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(8);
        @include make-sm-column-offset(1);
        @include make-md-column(7);
        @include make-md-column-offset(1);
    }
    &__title {
        text-transform: uppercase;
        color: $k2-blue;
        margin-top: 130px;
        font-size: 36px;
        span {
            color: $k2-green;
        }
        @include tablet {
            margin-top: 175px;
            br {
                display: block;
            }
        }
    }
    &__description {
        @extend %t-paragraph;
        margin-top: 20px;
    }
    &__button--primary {
        @extend %button;
        @extend %button--green;
        font-size: 16px;
    }
    &.-operations {
        .main-stage-department-detail__content {

        }
    }
}

.solutions-slice {
    padding: 20px 0px 50px;
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
        text-align: center;
    }
    &__title {
        @extend %t-heading-bulmer;
        text-align: center;
        font-weight: bold;
    }
    &__description {
        @extend %t-paragraph;
        text-align: center;
    }
    &__columns {
        text-align: center;
    }
    &__single {
        text-align: left;
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(6);
        @include make-sm-column-offset(0);
        h3 {
            @include add-important(font-family,
            $bulmer-italic);
            font-size: 24px;
            color: $k2-green;
            margin-bottom: 7px;
        }
        p {
            @extend %t-paragraph;
            @include tablet {
                min-height: 91px;
            }
        }
    }
    &__button--primary {
        margin: 0 auto;
        @extend %button;
        @extend %button--green;
    }
}

.spider {
    background-color: $k2-blue;
    padding: 40px 0px;
        min-height: 800px;
    text-align: center;

    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
    }
    &__title {
        @extend %t-heading-bulmer;
        color: white;
    }
    &__description {
        @extend %t-paragraph;
        color: $k2-purple;
        padding:17px 0px;
        @include tablet {
        padding: 30px 0px;
      }
    }
}

.actual-spider {
  @include make-xs-column(10);
        @include make-xs-column-offset(1);
  @include make-sm-column(8);
        @include make-sm-column-offset(2);
         @include make-md-column(12);
        @include make-md-column-offset(0);
  @include mobilelast {
    
    &__item {
      &--title {
        font-family: "Avenir Next LT W01 Bold" !important;
        color:white;
        margin-top:26px;
      }
      &--description {
        color:white;
           font-size:$p-size-normal;
    line-height: $p-line-height-normal;
      }
    }
  }
  @include tablet {
    padding-top:30px;
      position: relative;
      width: 100%;
      &__item {
        //position:relative;

        &:nth-child(1) {
          .actual-spider__item--title {
             margin-left: -376px;
            margin-top: 105px;
             width: 120px;
            height: 120px;
            border-radius: 120px;
            &--palo {
                  transform: rotate(-82deg);
                  height: 196px;
                  left: 117px;
                  top: 69px;

                }

          }
        }

        &:nth-child(2) {
          .actual-spider__item--title {
            margin-left: -202px;
            &--palo {
                  transform: rotate(-46deg);
                  height: 139px;
                  right: 21px;
                  margin-top: 24px;

                }
          }
        }
        &:nth-child(3) {
          .actual-spider__item--title {
                margin-left: 92px;
                margin-top: -33px;
                &--palo {
                  transform: rotate(38deg);
                      left: 40px;
                      margin-top: 4px;
                }
          }
        }
        &:nth-child(4) {
          .actual-spider__item--title {
              margin-left: 219px;
              margin-top: 175px;
              &--palo {
                    transform: rotate(94deg);
                    top: 52px;
                    margin-right: 57px;
                    height: 163px;
                  
                }

          }
        }
        &:nth-child(5) {
          .actual-spider__item--title {
              margin-left: 55px;
              margin-top: 293px;
              &--palo {
                      transform: rotate(-222deg);
                    height: 98px;
                    top: 47px;
                }
          }
        }
        &:nth-child(6) {
          .actual-spider__item--title {
            margin-left: -281px;
            margin-top: 287px;
            &--palo {
                      transform: rotate(-122deg);
                    top: 36px;
                    margin-right: -46px;
                }
          }
        }
        &--title {
            background-color: white;
            width: 120px;
            height: 120px;
            border-radius: 120px;
            position: absolute;
            left: 50%;
            z-index:1;
             transition: all 0.5s ease;
            > span {
                font-size: 12px;
                font-family: "Avenir Next LT W01 Bold" !important;
                margin-top: 45px;
                display: block;
                text-transform: uppercase;
                color:$k2-blue;
                line-height: 1.4em;
            }
            &--palo {
              content: '';
              width: 2px;
              height: 200px;
              background-color: white;
              position: absolute;
              top: 80px;
              right: 50%;
              transform-origin: top;
              
              transition: all 0.5s ease;
              z-index: 1;
            }
        }
        &--description {
            position: absolute;
            width: 0px;
            background-color: white;
            height: 160px;
            display: block;
             transition: all 0.5s ease;
            left: 50%;
            margin-left: 0px;
            pointer-events: none;
            top:50%;
            opacity:1;
                margin-top: 145px;
            z-index:1;
            
            //transition-delay: 0.2s;
            span {
                position: absolute;
                z-index: 4;
                left: 50%;
                width: 250px;
                margin-left: -126px;
                margin-top: 55px;
                top: 50%;
                margin-top: -37px;
                height: 100px;
                font-size: 15px;
                color: $k2-purple;
                opacity: 0;
                transition: all 0.5s ease;
            
                overflow: hidden;
                
            }
            &:after {
                background-color: white;
                width: 160px;
                height: 160px;
                border-radius: 160px;
                position: absolute;
                left: -80px;
                margin-left: 0px;
                content: '';
                top: 0px;
                display: block;
                z-index: 3;
                 transition: all 0.5s ease;
                
            }
            &:before {
                content: '';
                background-color: white;
                width: 160px;
                height: 160px;
                border-radius: 160px;
                position: absolute;
                right: -80px;
                margin-left: 0px;
                top: 0px;
                display: block;
                z-index: 3;
                 transition: all 0.5s ease;
                
            }
        }
      }
    }
}

.actual-spider__item:hover {
  @include tablet {
    .actual-spider__item--title {
      background-color:$k2-purple;
      cursor:pointer;

      span {
        color:white;
      }
      &--palo {
        transition: all 0.5s ease;
        background-color:$k2-purple;
      }
    }
    .actual-spider__item--description {
        background-color: $k2-purple;
        transition: all 0.5s ease;
        width: 160px;
        left: 50%;
        
        margin-left: -80px;
        z-index:4;
        opacity:1;
        
        span {
            opacity: 1;
             transition: all 0.5s ease;
            color:white;
        }
        &:before {
            background-color: $k2-purple;
             transition: all 0.5s ease;
             //border-radius: 10px;
            
          

        }
        &:after {
            background-color: $k2-purple;
             transition: all 0.5s ease;
             //border-radius: 10px;
             
       
        }
    }
  }
}
.middle-title {
  display:none;
  @include tablet {
    display:block;
  position: absolute;
    top: 217px;
    left: 50%;
    z-index: 2;
    margin-left: -100px;
    width: 200px;
    font-size: 20px;
    font-family: 'Avenir Next LT W01 Bold';
    color: $k2-blue;
}
}
.download-case-study {
  padding:70px 0px;
  background-color:#f2f3f2;
  text-align: center;
  &__content {
      @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
  }
  &__logo {
    margin:20px 0px 40px;
  }
  &__quote {
     font-family: $bulmer-italic !important;
     font-size:23px;
     color:$k2-green;
     line-height:1.3em;
     margin:10px 0px;
     br {
      display:none
     }
     @include tablet {
      br {
        display:block;
      }
     }
  }
  &__quote-author {
    color:$k2-purple;
    margin:5px 0px 30px;
    text-transform: uppercase;
  }
  &__description {
     @extend %t-paragraph;
  }
  &__button--primary {
     @extend %button;
      @extend %button--green;
      margin:20px 0px;
  }


}
