.pinned-header {
        padding-top: 0px !important;
}

.pinned-header .wrapper-header {
    position:fixed;
}
body header {
  background-color: transparent; }

.wrapper-header {
  background-color: rgba(255, 255, 255, 0.96);
    width: 100%;
    z-index: 10;
    position: fixed;
    height: 73px; }

    .row {
  max-width: 960px; }

.wrapper {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }
  .wrapper:before, .wrapper:after {
    content: " ";
    display: table; }
  .wrapper:after {
    clear: both; }

.header {
    max-width: 940px;
    height: 75px;
    @include container-fixed();
    &__logo {
        width: 63px;
        height: 80px;
        float:left;
        
        margin-top:20px;
        display: $debug_hide;
    }
    &__best-nav-ever {
        float:left;
        margin-top:15px;
        margin-left:20px;
    }
    &__cta-contact {
        @extend %button;
        @extend %button--blue-outline;
        @extend %button--rounded;
        font-weight:bold;
        padding:8px 18px;
        font-size:14px;
        margin-top:28px;
        float:left;
        margin-left:20px;
    }
    &__cta-see-it-live {
        @extend %button;
        @extend %button--blue-outline;
        @extend %button--rounded;
        font-weight:bold;
        padding:8px 18px;
        font-size:14px;
        margin-top:28px;
        margin-left:20px;

    }
    &__login {}
    &__search {}
    //display:none;
}

.push-for-menu {
    padding-top:72px;
}

.bne {

    list-style: none;
    list-style-type: none;
    > ul {
        position: relative;
        @if $overwrite-cms {
            margin-left: 0px;
        }
        // First Level
        > li {
            display: inline-block;
            padding: 20px;
            float: left;
            position: relative;
            a {
                font-weight: bold;
                color: $k2-purple;
                font-size:15px;
                &:focus + ul {
                    display: block;
                    opacity: 1;
                }
                &:hover {
                    color: $k2-purple;
                }
               
            }
            > a:not(.last) {
                 &:after {
                    content:'';
                    width:2px;
                    height:13px;
                    position:absolute;
                    right:-5px;
                    background-color:$k2-purple;
                   margin-top:3px;
                }
            }
            &:focus {
                background-color:$k2-purple; 
                ul.sub-menu {
                    display: block;
                }
            }
            &:hover {
                & > span {
                    border-bottom: 1px solid $k2-blue;
                }
                > a {
                    padding-bottom: 5px;
                    border-bottom: 3px solid $k2-blue;
                }
            }
            &:hover > ul.sub-menu {
                // display: block;
                opacity: 1;
                transition: all 0.1s ease;
                visibility: visible;
                li:nth-child(1) a:not([href]) {
                    &:after {
                        opacity:1;
                        right: 10px;

                    }
                }
                li:nth-child(2) a:not([href]) {
                    &:after {
                        right: 10px;
                        transition-delay: 0.05s;
                        opacity:1;
                    }
                }
                li:nth-child(3) a:not([href]) {
                    &:after {
                        right: 10px;
                        transition-delay: 0.10s;
                        opacity:1;
                    }

                }
                li:nth-child(4) a:not([href]) {
                    &:after {
                        right: 10px;
                        transition-delay: 0.15s;
                        opacity:1;
                    }
                }
                li:nth-child(5) a:not([href]) {
                    &:after {
                        right: 10px;
                        transition-delay: 0.15s;
                        opacity:1;
                    }
                }
                li:nth-child(6) a:not([href]) {
                    &:after {
                        right: 10px;
                        transition-delay: 0.15s;
                        opacity:1;
                    }
                }
            }
            span {}
            // Subm Menu
            ul.sub-menu {
                position: absolute;
                width: 250px;
                
                //display: none;
                background-color: white(0.96);
                list-style: none;
                list-style-type: none;
                top: 58px;
                left: 0px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.2s ease;
                padding-bottom:20px;
                @if $overwrite-cms {
                    margin-left: 0px;
                }
                li {
                    width: 100%;
                    padding: 5px;
                    a:not([href]) {
                        &:after {
                            content: '';
                            position: absolute;
                            right: 20px;
                            transition: right 0.4s ease;
                            width: 0;
                            height: 0;
                            border-top: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-left: 6px solid $k2-blue;
                            margin-top: 5px;
                            opacity:0;
                        }
                    }
                    a {
                        font-size: 14px;
                        padding: 4px 20px;
                        display: inline-block;
                        color: #14b6c9;
                        font-weight: normal;
                    }
                    //Last Level
                    &:hover {
                        background-color: $k2-green;
                         > a {
                            color:white !important;
                        }
                        ul.sub-sub-menu {
                            opacity: 1;
                            transition: all 0.1s ease;
                            visibility: visible;
                        }
                         a:not([href]) {
                        &:after {border-left: 6px solid white; }}
                    }
                    ul.sub-sub-menu {
                        position: absolute;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.1s ease;
                        width: 200px;
                        left: 250px;
                        top: 0px;
                        bottom: 0px;
                        list-style: none;
                        list-style-type: none;
                        background-color: $k2-green;
                        @if $overwrite-cms {
                            margin-left: 0px;
                        }
                        li {
                            background-color: $k2-green;
                            cursor: pointer;
                            display:block;
                            a {
                                cursor: pointer; 
                                cursor: hand;
                                padding-left: 0px;
                                padding-right: 0px;
                                margin-left: 15px;
                                padding-bottom: 2px;
                                color:white;
                                font-weight:normal;
                                border-bottom: 2px solid $k2-green;
                                transition:border-bottom 0.1s ease;
                                &:hover {
                                    border-bottom: 2px solid white;
                                    cursor: pointer; 
                                cursor: hand;
                              
                                }
                            }
                        }
                        &:hover li {
                            display: block;
                        }
                    }
                }
            }
            ul.sub-menu--what-is-k2 {
                @extend .sub-menu;
                width: 250px;
                ul.sub-sub-menu {
                    @extend .sub-sub-menu;
                    left: 250px;
                }
            }
            ul.sub-menu--how-people-use-k2 {
                @extend .sub-menu;
                width: 200px;
                li ul.sub-sub-menu {
                    @extend .sub-sub-menu;
                    left: 200px;
                }
            }
            ul.sub-menu--resources {
                @extend .sub-menu;
                width: 250px;
                li ul.sub-sub-menu {
                    @extend .sub-sub-menu;
                    width:210px;
                    left: 250px;
                }
            }
            a {}
        }
    }
    &__sub-menu {
        position: absolute;
        width: 200px;
        background-color: white;
        display: block;
        list-style: none;
        list-style-type: none;
        top: 100px;
        @if $overwrite-cms {
            margin-left: 0px;
        }
        &--last {
            position: absolute;
            width: 200px;
            left: 200px;
            top: 0px;
        }
    }
    &__sub-menu-item {
        //background-color:red; 
    }
}


.tabs {
    margin-top:-40px;
    &__content {

     @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);

        &.extend {
            @include make-xs-column(12);
            @include make-xs-column-offset(0);
        }

    }
    ul {
        float:left;
        width:100%;
        li {
                padding-right:15px;
                float:left;
                display:block;
                a {
                    padding:13px 39px;
                    background-color:white(.6);
                    display:inline-block;
                    text-transform: uppercase;
                    font-weight:bold;
                    font-size:12px;
                    color:$k2-purple;
                    transition: all .5s ease;
                    &:hover {
                        color:$k2-green;
                        background-color:white(.8);
                    }
                }
            &.active {
                a {
                    background-color:white;
                    color:$k2-green;

                }
            }
        }

    }
}