// Forrester-Logo.jpg
// learn-more-forrester-bg.jpg
// learn-more-graph.jpg
// learn-more-main-stage.jpg
// mobile-graph5.png
// mobile-graph4.png
// mobile-graph3.png
// mobile-graph2.png
// mobile-graph1.png

.fwd {
    padding: 60px 0px 80px;
    position:relative;
    @include tablet {
    min-height: 381px;
    
    }
    @include desktop {
    min-height: 430px;

    }
    &__menu {
        position:absolute;
        left:0px;
        display:none;
        @include tablet {
            display:block;
        }
        &:before {
            height:170px;
            width:2px;
            content:'';
            background-color:$k2-grey;
            position:absolute;
            left:12px;
            top:0px;
        }
        &:after {
            content:'';
            width:14px;
            border-radius:14px;
            height:14px;
            background-color:$k2-green;
            position:absolute;
            left:6px;
            top:0px;
            transition: all .4s ease;
        }
        &.-data {
            &:before {
                height:118px;
            }
        }
        &.-one {
            &:after {
                top:0px;
            }
        }
        &.-two {
            &:after {
                top:50px;
            }
        }
        &.-three {
            &:after {
                top:105px;
            }
        }
        &.-four {
            &:after {
                top:160px;
            }
        }
        ul {
            li {
                cursor:pointer;
                font-size:12px;
                list-style:none;
                text-transform: uppercase;
                line-height:14px;
                font-weight:bold;
                color:$k2-grey;
                    width:200px;
                    transition: color .2s ease;

                &:nth-child(1){
                     position:absolute;
                        left:30px;
                        top:-10px;
                }
                &:nth-child(2){
                     position:absolute;
                        left:30px;
                        top:50px;
                }

                &:nth-child(3){
                     position:absolute;
                        left:30px;
                        top:105px;
                }

                &:nth-child(4){
                     position:absolute;
                        left:30px;
                        top:160px;
                }
            }
            li.active {
                color:$k2-green;
            }
             li:hover {
                color:$k2-green;
            }
        }
    }
    &__left {
        @include make-xs-column(12);
        @include make-sm-column(8, 0px);
        position: relative;
    }
    &__right {
        @include make-xs-column(12);
        @include make-sm-column(4, 0px);
       @include mobilelast {
        padding:0px 30px 30px;
       }
        &-title {
            @extend %t-heading-bulmer;
            line-height: 24px;
            line-height: 39px;
            color: $k2-green;
            margin-top: 20px;

            @include tablet {
            margin-top: 0px;

            }
        }
        &-description {
            @extend %t-paragraph;
        }
    }
    &__computer {
        display:none;
         @include tablet {
          position: absolute;
            top: 0px;
            right: -47px;
            z-index: 5;
            display:block;
            @include zoomy(0.87);
        }
        @include desktop {
            @include zoomy(1);
             right: 0px;
        }
        
    }
    &__screen {
        display:none;
        @include tablet {
            position: absolute;
          
            z-index: 2;
            width: 350px;
            top: 12px;
            right: 33px;
            height: 200px;
            overflow: hidden;
            display:block;
            @include zoomy(0.87);
        }
        @include desktop {
            @include zoomy(1);
            right:70px;
        }
    }
    &__slides {
        position: absolute;
        top: 0px;
        transition: top 0.7s ease;
        &.-one {
            top: 0px;
        }
        &.-two {
            top: -200px;
        }
        &.-three {
            top: -403px;
        }
        &.-four {
            top: -606px;
        }
    }
}

.fwd__right-content{

   @include tablet {
        &--one {
            display:none;

        }
        &--two {
             display:none;
        }
        &--three {
             display:none;
        }
        &--four {
            display:none;
        }
    
    }
}

.fwd__right.-one {
        .fwd__right-content--one{
            display:block;
             animation: fade-in 1;
        -webkit-animation: fade-in 1s;
        }
    }
    .fwd__right.-two {
        .fwd__right-content--two{
            display:block;
             animation: fade-in 1s;
        -webkit-animation: fade-in 1s;
        }
    }

.fwd__right.-three {
        .fwd__right-content--three{
            display:block;
             animation: fade-in 1s;
        -webkit-animation: fade-in 1s;
        }
    }

.fwd__right.-four {
        .fwd__right-content--four{
            display:block; animation: fade-in 1s;
        -webkit-animation: fade-in 1s;
        }
    }



.featured-asset {
    background-image:url('/img/1/learn-more-forrester-bg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    min-height:350px;
    background-position:top center;
    .wrapper {
            
        }
    &__content {
         @include make-xs-column(12, 30px);
        @include make-sm-column(10);
        @include make-sm-column-push(1);
        background-color: white(.8);
        text-align: center;
        padding-top:80px;
        padding-bottom:40px;

    }
    &__title {
        margin-top:40px;
        margin-bottom:20px;
        font-size:17px;
        font-weight:bold;
        text-transform: uppercase;
        line-height: 22px;
    }
    &__description{
    @extend %t-paragraph;
        @include tablet {
            padding:0px 45px;
        }
    }
    &__button--primary{

        @extend %button;
        @extend %button--blue;
        margin-top:30px;
        margin-bottom:30px;
    }
}



.mobile-tab-content {

    @include tablet {
        display:none;
    }
}

.is-not-desktop {
    display:block;
    @include tablet {
        display:none;
    }
}


