// Forrester-Logo.jpg
// learn-more-forrester-bg.jpg
// learn-more-graph.jpg
// learn-more-main-stage.jpg

.main-stage-learn-more {
    @extend %learn-more-title;
    
    
    &__content {
        @extend %learn-more-title__content;

    }
    &__title {
        @extend %learn-more-title__title;
    }
    &__description {
        @extend %learn-more-title__description;
    }
    &__button--primary {
        @extend %learn-more-title__button--primary;
    }



}

%learn-more-title {
    background-image: url('/img/1/learn-more-main-stage.jpg');
    background-position: top center;
    background-repeat:no-repeat;
    background-size: cover;
    min-height: 523px;
    &__content {
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column(10);
        @include make-sm-column-offset(1);
    }
    &__title {
        text-transform: uppercase;
        margin-top:40px;
        
        @include tablet {
            margin-top: 154px;
        }

    }
    &__description {
        @extend %t-paragraph;
        margin-top:20px;
    }
    &__button--primary {
        @extend %button;
        @extend %button--green;
        font-size:16px;
    }
}




    // &__content {}
    // &__title{}
    // &__description {}
    // &__button--primary {}

