// OVERWRITES
body header {
    background-color: transparent;
}

body {
    background-color: purple;
}

.wrapper-header {
    background-color: white(0.7);
    width: 100%;
    z-index: 10;
    position: relative;
}

.row {
    width: 960px;
}

.wrapper {
    max-width:960px;
    @include row(30px);
 
}

.main-stage {
    //Include Bootstrap Properties
    @include container-fixed(0px);
    //self
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &__content {
        @include make-xs-column(11);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(1);
        @include make-sm-column(9);

    }
    &__title {
        // background-color:red;
        margin-top: 210px;
        text-transform: uppercase;
        color: $k2-green;
        font-size: 30px;

    }
    &__button--primary {
        @extend %button;
        @extend %button--blue;

        float: left;
        font-weight:bold;
    }
    &__button--secondary {}
}


.learn-more{
    height:550px;
    background-image: url('/img/1/learn-more--laptop.png');
    background-color:#f2f3f2;
    background-repeat: no-repeat;
    background-position:50% 50%; 
    background-size:100%;
    @include tablet {
        height:550px;
        background-image: url('/img/1/learn-more--laptop.png');
        background-color:#f2f3f2;
        background-repeat: no-repeat;
        background-position:50%;
        background-size: initial;
    }
    
    &__content{
        @include make-xs-column(12);
        @include make-xs-column-offset(0);
        @include make-sm-column-offset(8);
        @include make-sm-column(4);

        height:20px;
    }
    &__title {
        margin-top:90px;
        font-size:30px;
        @include add-important(font-family, $bulmer-italic);
        color:$k2-blue;
    }
    &__description {
        @extend %t-paragraph;
    }
    &__button--primary {
        @extend %button;
        @extend %button--green;
    }
}

#template {
    &__content{}
    &__title {}
    &__button--primary {}
}





// Main Stage Modifiers 
.main-stage {
    &.-homepage {
        //extend from global main stage
        background-image: url('/img/1/bg-home-placeholder.jpg');
        height: 523px;
    }
}




.clear {
    display: block;
}


.departments {
    background-image: url('/img/1/bg-departments-placeholder.jpg');
    height: 570px;
    background-repeat: no-repeat;
    background-position: top center;
}

.customers {
    background-image: url('/img/1/bg-learn-more-placeholder.jpg');
    height: 523px;
    background-repeat: no-repeat;
    background-position: top center;
}



// SUPER BS OVERWRITES 
.no-touch .learn-more:hover {
    background-color: #f2f3f2;
}
